<div>
  <div *ngIf="!isInDrawer" style="padding:8px;margin-bottom:12px;" class="alain-default__content-title">
    <h1 style="padding-left:10px;">{{'content-title-case'|translate}}</h1>
    <span>
      <span [style.color]="isSaved?'black':'lightseagreen'">{{case.summary}}</span>
      <span *ngIf="case._id">
        <a style="color:lightgray;padding-left:5px;font-size:smaller;"
          [routerLink]="['/case', group, project, case._id]">({{case._id}})</a>
      </span>
      <app-env-selector [group]="group" [project]="project" [(env)]="case.env" (envChange)="modelChange()">
      </app-env-selector>
    </span>
  </div>
  <nz-card [nzBordered]="true">
    <nz-row style="margin-bottom:4px;">
      <nz-input-group style="width:100%;" [nzSize]="'small'" [nzAddOnBefore]="'field-summary'|translate">
        <input type="text" nz-input [(ngModel)]="case.summary" (ngModelChange)="modelChange()">
      </nz-input-group>
    </nz-row>
    <nz-row style="margin-bottom:4px;">
      <app-label-list style="width: 100%;" [group]="group" [project]="project" [(data)]="case.labels"
        (dataChange)="modelChange()" [type]="'case'">
      </app-label-list>
    </nz-row>
    <!-- url row start -->
    <nz-affix [nzOffsetTop]="54" (nzChange)="onAffixChange($event)">
      <div [class]="isAffixed?'affixed':''" style="height:32px;line-height:32px;display:flex;">
        <div style="width:100%;">
          <nz-input-group style="width:100%;" [nzSize]="'default'" [nzAddOnBefore]="addOnBeforeTemplate">
            <input nz-input style="width:100%;" [placeholder]="'tips-enter-url'|translate"
              [(ngModel)]="case.request.rawUrl" (ngModelChange)="urlChange()">
          </nz-input-group>
          <ng-template #addOnBeforeTemplate>
            <nz-select style="width:100px;" [(ngModel)]="case.request.method" (ngModelChange)="methodChange()">
              <nz-option *ngFor="let m of methods" [nzLabel]="m" [nzValue]="m"></nz-option>
            </nz-select>
          </ng-template>
        </div>
        <div style="display:flex;padding-left:20px;">
          <button nz-button [nzType]="'primary'" [nzSize]="'default'" [nzLoading]="isSending" (click)="send()">
            <span>
              <i nz-icon nzType="scan" theme="outline"></i>
              <span>{{'btn-send'|translate}}</span>
            </span>
          </button>
          <nz-button-group style="padding-left:4px;">
            <button nz-button (click)="save()">
              <span [style.color]="isSaved?'lightgray':'orangered'">
                <i nz-icon nzType="save" theme="outline"></i>
                <span>{{'btn-save'|translate}}</span>
              </span>
            </button>
            <button nz-button nz-dropdown [nzTrigger]="'hover'" [nzDropdownMenu]="saveMenu" nzPlacement="bottomRight">
              <i nz-icon nzType="ellipsis"></i>
            </button>
          </nz-button-group>
          <nz-dropdown-menu #saveMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="saveAs()">
                <a>{{'btn-save-as'|translate}}</a>
              </li>
              <li nz-menu-item (click)="reset()">
                <a>{{'btn-reset'|translate}}</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-affix>
    <!-- url row end -->
    <div style="height:7px;"></div>
    <nz-tabset style="min-height:360px;" [nzSize]="'default'" [nzType]="'line'" [(nzSelectedIndex)]="tabIndex"
      [nzAnimated]="false" (nzSelectedIndexChange)="tabIndexChange()">
      <nz-tab [nzTitle]="'item-path-variable'|translate">
        <app-key-value [(data)]="case.request.path" (dataChange)="modelChange()"></app-key-value>
      </nz-tab>
      <nz-tab [nzTitle]="'item-params'|translate">
        <app-key-value [(data)]="case.request.query" (dataChange)="paramsChange()"></app-key-value>
      </nz-tab>
      <nz-tab [nzTitle]="'item-headers'|translate">
        <app-key-value [(data)]="case.request.header" (dataChange)="modelChange()"></app-key-value>
      </nz-tab>
      <nz-tab [nzTitle]="'item-cookies'|translate">
        <app-key-value [(data)]="case.request.cookie" (dataChange)="modelChange()"></app-key-value>
      </nz-tab>
      <nz-tab [nzTitle]="'item-body'|translate" [nzDisabled]="'GET'===case.request.method">
        <app-media-object *ngIf="tabShow['4']" [(type)]="case.request.contentType" [(data)]="case.request.body"
          (typeChange)="modelChange()" (dataChange)="modelChange()" [group]="group" [project]="project">
        </app-media-object>
      </nz-tab>
      <nz-tab [nzTitle]="'item-result-assert'|translate">
        <app-result-assert *ngIf="tabShow['5']" [assertions]="assertions" [(index)]="assertResultTabIndex"
          [result]="testResult" [autocompleteContext]="autocompleteContext" [(assert)]="case.assert"
          [lastResult]="lastResult" [ctxOptions]="_ctxOptions" (assertChange)="modelChange()">
        </app-result-assert>
      </nz-tab>
      <nz-tab [nzTitle]="'item-generator'|translate">
        <app-case-generator *ngIf="tabShow['6']" [assertions]="assertions" [(data)]="case.generator"
          (dataChange)="modelChange()" [log]="generatorLog" [sendCall]="generatorCall" [logResult]="logResult">
        </app-case-generator>
      </nz-tab>
      <nz-tab [nzTitle]="'item-exports'|translate">
        <app-variables-export-table [transforms]="transforms" [defaultScope]="'_s'" [(data)]="case.exports"
          (dataChange)="modelChange()" [autocompleteContext]="autocompleteContext">
        </app-variables-export-table>
      </nz-tab>
    </nz-tabset>
  </nz-card>
  <div *ngIf="case._creator" style="text-align:right;padding-right:10px;">
    <span style="color:lightgray;font-size:small">{{case.createdAt}}</span>
    <nz-divider nzType="vertical"></nz-divider>
    <div style="display:inline-block;">
      <app-profile-simple [data]="case._creator"></app-profile-simple>
    </div>
  </div>
  <!-- drawer -->
  <!-- <nz-drawer *ngIf="!isInDrawer&&!isInNew" [nzClosable]="false" [nzVisible]="historyVisible" nzPlacement="right"
    (nzOnClose)="historyVisible=false" [nzWidth]="drawerWidth" [nzBodyStyle]="{'padding':'0px'}">
    <app-case-history [group]="group" [project]="project" (oncopy)="copyFromHis($event)" (onedit)="editFromHis($event)">
    </app-case-history>
  </nz-drawer> -->
</div>
