<nz-card nzTitle="Job: ClearJobReportDataIndicesJob">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixCron">
          <input formControlName="cron" nz-input placeholder="Cron Expression">
        </nz-input-group>
        <ng-template #prefixCron><i nz-icon nzType="schedule" theme="outline"></i></ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixDay">
          <input formControlName="day" nz-input type="input" placeholder="day">
        </nz-input-group>
        <ng-template #prefixDay><i nz-icon nzType="calendar" theme="outline"></i></ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-divider nzType="vertical"></nz-divider>
        <span>{{job.state}}</span>
        <nz-divider nzType="vertical"></nz-divider>
        <span>{{job.next}}</span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [disabled]="!canResume()" nzSize="small" nzType="default" (click)="resume()">
          <i nz-icon nzType="play-circle" theme="outline"></i>
        </button>
        <button nz-button [disabled]="!canPause()" nzSize="small" nzType="default" (click)="pause()">
          <i nz-icon nzType="pause" theme="outline"></i>
        </button>
        <button nz-button type="button" nzSize="small" nzType="primary" (click)="update()">{{'btn-update'|translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
