<div nz-row>
  <span>
    <a>{{profile.nickname||profile.username}}</a>
    <!-- <span style="color:lightgray;font-size:small;padding-left:8px;cursor:pointer;">{{profile.username}}</span> -->
  </span>
  <!-- <nz-divider nzType="vertical"></nz-divider> -->
  <!-- <span>{{profile.email}}</span> -->
  <nz-divider nzType="vertical"></nz-divider>
  <nz-avatar style="cursor:pointer;" nzSize="small" [nzText]="(profile.nickname||profile.username||'')[0]"
    [nzSrc]="profile.avatar||''">
  </nz-avatar>
</div>
