<div>
  <div class="content__title">
    <div style="padding-left:10px;">
      <nz-radio-group style="padding-left:10px;" [(ngModel)]="type" (ngModelChange)="typeChange()" [nzSize]="'small'">
        <label nz-radio-button nzValue="case-growth">{{'item-case-growth'|translate}}</label>
        <label nz-radio-button nzValue="case-aggregation">{{'item-case-aggregation'|translate}}</label>
        <label nz-radio-button nzValue="activity-growth">{{'item-activity-growth'|translate}}</label>
        <label nz-radio-button nzValue="activity-aggregation">{{'item-activity-aggregation'|translate}}</label>
        <label nz-radio-button nzValue="job-aggregation">{{'field-job'|translate}}</label>
      </nz-radio-group>
      <nz-radio-group style="padding-left:4px;" [(ngModel)]="aggsParams.dateRange" (ngModelChange)="loadData()"
        [nzSize]="'small'">
        <label nz-radio-button nzValue="">{{'item-all'|translate}}</label>
        <label nz-radio-button nzValue="1y">{{'item-last-year'|translate}}</label>
        <label nz-radio-button nzValue="6M">{{'item-last-half-year'|translate}}</label>
        <label nz-radio-button nzValue="1M">{{'item-last-month'|translate}}</label>
      </nz-radio-group>
      <nz-radio-group style="padding-left:4px;" [(ngModel)]="aggsParams.interval" (ngModelChange)="loadData()" [nzSize]="'small'">
        <label nz-radio-button nzValue="1M">{{'item-month'|translate}}</label>
        <label nz-radio-button nzValue="1w">{{'item-week'|translate}}</label>
        <label nz-radio-button nzValue="1d">{{'item-day'|translate}}</label>
      </nz-radio-group>
      <nz-radio-group style="padding-left:4px;" [(ngModel)]="aggsParams.termsField" (ngModelChange)="loadData()"
        [nzSize]="'small'">
        <label nz-radio-button nzValue="group" [nzDisabled]="group?true:false">{{'field-group'|translate}}</label>
        <label nz-radio-button nzValue="project" [nzDisabled]="group?false:true">{{'field-project'|translate}}</label>
        <label nz-radio-button nzValue="creator">{{'field-creator'|translate}}</label>
      </nz-radio-group>
      <nz-select style="padding-left:10px;width:150px;" nzMode="default" nzSize="small" [nzPlaceHolder]="'field-group'|translate"
        nzAllowClear nzShowSearch [nzNotFoundContent]="'tips-no-data'|translate" [(ngModel)]="group" (ngModelChange)="groupChange()">
        <ng-container *ngFor="let item of groups">
          <nz-option [nzValue]="item.id" [nzLabel]="item.id" nzCustomContent>
            <nz-avatar nzSize="small" [nzSrc]="item.avatar" [nzText]="item.id?item.id[0]:''" nz-popover [nzTitle]="item.summary"
              [nzContent]="item.description"></nz-avatar>
            <span style="padding-left:10px;">{{item.id}}</span>
          </nz-option>
        </ng-container>
      </nz-select>
      <nz-select style="padding-left:5px;width:150px;" nzMode="default" [nzSize]="'small'" [nzPlaceHolder]="'field-creator'|translate"
        nzAllowClear nzShowSearch [(ngModel)]="creator" (ngModelChange)="loadData()" [nzServerSearch]="true"
        (nzOpenChange)="searchCreatorOpenChange()" (nzOnSearch)="searchCreator($event)">
        <nz-option *ngFor="let item of creators" [nzLabel]="item.id" [nzValue]="item.id" nzCustomContent>
          <span>{{item.id}}</span>
        </nz-option>
      </nz-select>
    </div>
    <nz-breadcrumb style="padding-right:20px;">
      <nz-breadcrumb-item>
        <i class="anticon anticon-home click-icon" (click)="loadData()"></i>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div *ngIf="'case-growth'===type">
    <div style="overflow:hidden;margin-right:12px;">
      <ngx-charts-bar-vertical [view]="view1" [scheme]="colorScheme" [results]="caseResults" (select)="onSelect($event)"
        [xAxis]="true" [yAxis]="true">
      </ngx-charts-bar-vertical>
    </div>
    <div *ngIf="showSubChart" style="overflow:hidden;margin-right:12px;">
      <ngx-charts-bar-horizontal [view]="view2" [scheme]="colorScheme2" [results]="caseSubResults" [xAxis]=" true"
        [yAxis]="true" [showXAxisLabel]="true" [xAxisLabel]="caseSubResultsLabel">
      </ngx-charts-bar-horizontal>
    </div>
  </div>
  <div *ngIf="'case-aggregation'===type">
    <ngx-charts-line-chart [view]="fitView" [scheme]="colorScheme" [results]="caseAggregation" [xAxis]="true" [yAxis]="true"
      [legend]="true" [legendTitle]="'🐣 Legend'">
    </ngx-charts-line-chart>
  </div>
  <div *ngIf="'activity-growth'===type">
    <div style="overflow:hidden;margin-right:12px;">
      <ngx-charts-bar-vertical [view]="view1" [scheme]="colorScheme" [results]="activityResults" (select)="onSelect($event)"
        [xAxis]="true" [yAxis]="true">
      </ngx-charts-bar-vertical>
    </div>
    <div *ngIf="showSubChart" style="overflow:hidden;margin-right:12px;">
      <ngx-charts-bar-horizontal [view]="view2" [scheme]="colorScheme2" [results]="activitySubResults" [xAxis]=" true"
        [yAxis]="true" [showXAxisLabel]="true" [xAxisLabel]="activitySubResultsLabel">
      </ngx-charts-bar-horizontal>
    </div>
  </div>
  <div *ngIf="'activity-aggregation'===type">
    <ngx-charts-line-chart [view]="fitView" [scheme]="colorScheme" [results]="activityAggregation" [xAxis]="true"
      [yAxis]="true" [legend]="true" [legendTitle]="'🐣 Legend'">
    </ngx-charts-line-chart>
  </div>
  <div *ngIf="'job-aggregation'===type">
    <div style="overflow:hidden;margin-right:12px;">
      <ngx-charts-bar-vertical [view]="view1" [scheme]="colorScheme" [results]="jobReportResults" (select)="onSelect($event)"
        [xAxis]="true" [yAxis]="true">
      </ngx-charts-bar-vertical>
    </div>
    <div *ngIf="showSubChart" style="overflow:hidden;margin-right:12px;">
      <ngx-charts-bar-horizontal [view]="view2" [scheme]="colorScheme2" [results]="jobReportSubResults" [xAxis]=" true"
        [yAxis]="true" [showXAxisLabel]="true" [xAxisLabel]="jobSubResultsLabel">
      </ngx-charts-bar-horizontal>
    </div>
  </div>
</div>
