<div>
  <ng-container *ngIf="!isEditable">
    <div style="margin-bottom:6px;">
      <nz-tag *ngFor="let item of values; let i = index;" [nzColor]="'cyan'" nzMode="closeable"
        (nzOnClose)="remove(item,i)">{{item}}</nz-tag>
      <a style="font-size:smaller;margin-left:3px;" (click)="isEditable=true">{{'btn-manage-label'|translate}}</a>
    </div>
  </ng-container>
  <ng-container *ngIf="isEditable">
    <div style="margin-bottom:10px;">
      <nz-input-group style="width:100%;" [nzAddOnAfter]="suffixButton">
        <nz-select style="width:100%;" nzMode="tags" [(ngModel)]="values" (nzOpenChange)="labelSelectOpenChange()"
          (ngModelChange)="modelChange()" [nzServerSearch]="true" (nzOnSearch)="searchLabel($event)">
          <nz-option *ngFor="let item of labels" [nzLabel]="item.id" [nzValue]="item.id" nzCustomContent>
            <span>
              <span>{{item.id}}</span>
              <span style="color: lightgray;font-size: small;margin-left: 4px;">
                {{'tips-ref-count'|translate}}:{{item.count}}
              </span>
            </span>
          </nz-option>
        </nz-select>
      </nz-input-group>
      <ng-template #suffixButton>
        <button style="width:100%;" nz-button nzType="primary" nzSize="small" (click)="confirm()">
          <span>{{'btn-done'|translate}}</span>
        </button>
      </ng-template>
    </div>
  </ng-container>
</div>
