<div class="content__title">
  <h1 style="padding-left:10px;opacity:0.75;">{{title.join('')}}</h1>
  <nz-breadcrumb style="padding-right:20px;" [nzSeparator]="nzSeparator">
    <nz-breadcrumb-item>
      <i class="anticon anticon-home click-icon" (click)="loadGroupData()"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="group">
      <a>{{group}}</a>
    </nz-breadcrumb-item>
    <ng-template #nzSeparator>
      <span>></span>
    </ng-template>
  </nz-breadcrumb>
</div>
<div style="overflow:hidden;margin-right:12px;" [style.height]="treeMapHeight">
  <ngx-charts-tree-map [view]="view" [scheme]="colorScheme" [results]="results" (select)="onSelect($event)">
  </ngx-charts-tree-map>
</div>
<div style="overflow:hidden;margin-right:12px;" [style.height]="barHeight">
  <ngx-charts-bar-vertical [xAxis]="true" [showXAxisLabel]="true" [xAxisLabel]="'tips-daily-test-job-case-count'|translate"
    [view]="view" [scheme]="colorScheme" [results]="indices">
  </ngx-charts-bar-vertical>
</div>
