<div [style.height]="height" class="container">
  <div [style.height]="height" class="sidebar indigo-scroll-bar">
    <div style="color:black;margin-bottom:4px;">{{'field-project'|translate}}</div>
    <nz-input-group [nzSuffix]="suffixIconSearch" [nzSize]="'default'">
      <input type="text" nz-input [placeholder]="'tips-find-project'|translate" [(ngModel)]="wd"
        (ngModelChange)="searchProject()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon type="search"></i>
    </ng-template>
    <div *ngFor="let item of my" class="my-item">
      <i nz-icon nzType="project" nzTheme="outline"></i>
      <a (click)="goProject(item)" nz-popover [nzContent]="item.summary">{{item.group}}/{{item.project}}</a>
    </div>
  </div>
  <div [style.height]="height" class="feed indigo-scroll-bar">
    <div class="feed-list">
      feeds
    </div>
    <div *ngIf="others.length>0" class="discover">
      <nz-list [nzDataSource]="others" [nzBordered]="false" [nzRenderItem]="myItem">
        <ng-template #myItem let-item>
          <nz-list-item [nzContent]="discoverItem">
            <ng-template #discoverItem>
              <div class="d">
                <div class="title" (click)="goProject(item)">{{item.group}}/{{item.project}}</div>
                <div class="desc">aaaaaaa{{item.summary}}</div>
              </div>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>
</div>
