<div nz-row [nzGutter]="4">
  <nz-input-group style="width:100%;" [nzSize]="'default'" [nzSuffix]="suffixButton" nzSearch>
    <input nz-input style="width:100%;" [placeholder]="'tips-search'|translate" [(ngModel)]="search.text"
      (ngModelChange)="modelChange()" (keyup.enter)="modelChange()">
    <ng-template #suffixButton>
      <a class="click-icon" style="margin-right:10px;"><i nz-icon nzType="search" theme="outline"
          (click)="modelChange()"></i></a>
    </ng-template>
  </nz-input-group>
</div>
