<div>
  <nz-input-group style="padding-bottom:4px;" [nzAddOnBefore]="'field-max-api-count'|translate">
    <input type="text" nz-input [(ngModel)]="config.maxApiCount">
  </nz-input-group>
  <nz-card [nzTitle]="'field-exclusions'|translate" [nzBodyStyle]="{'padding':'8px'}">
    <nz-input-group>
      <nz-select style="width:100%;" nzMode="multiple" [nzPlaceHolder]="'field-method'|translate"
        [(ngModel)]="exMethods" nzAllowClear nzShowSearch>
        <nz-option *ngFor="let m of methods" [nzLabel]="m" [nzValue]="m"></nz-option>
      </nz-select>
    </nz-input-group>
    <nz-table #nzExclusionTable [nzSize]="'default'" [nzData]="exOnly" [nzNoResult]="'🤔'" [nzShowPagination]="false"
      [nzFrontPagination]="false">
      <tbody>
        <tr *ngFor="let item of nzExclusionTable.data; let i = index">
          <td style="padding:2px;width:120px;">
            <nz-select style="width:100%;" nzMode="default" [nzPlaceHolder]="'field-type'|translate"
              [(ngModel)]="item.type">
              <nz-option *ngFor="let t of configFieldType" [nzLabel]="t.label|translate" [nzValue]="t.value">
              </nz-option>
            </nz-select>
          </td>
          <td style="padding:2px;">
            <input nz-input [(ngModel)]="item.value">
          </td>
          <td style="padding:2px;width:32px;">
            <i nz-icon nzType="close" theme="outline" class="click-icon" (click)="removeExclusion(i)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="bottom-btns">
      <a (click)="addExclusion()">{{'btn-add'|translate}}</a>
    </div>
  </nz-card>
  <nz-card [nzTitle]="'item-aggs'|translate" [nzBodyStyle]="{'padding':'8px'}">
    <nz-table #nzAggsTable [nzSize]="'default'" [nzData]="aggs" [nzNoResult]="'🤔'" [nzShowPagination]="false"
      [nzFrontPagination]="false">
      <tbody>
        <tr *ngFor="let item of nzAggsTable.data; let i = index">
          <td style="padding:2px;width:120px;">
            <nz-select style="width:100%;" nzMode="default" [nzPlaceHolder]="'field-type'|translate"
              [(ngModel)]="item.type">
              <nz-option *ngFor="let t of configFieldType" [nzLabel]="t.label|translate" [nzValue]="t.value">
              </nz-option>
            </nz-select>
          </td>
          <td style="padding:2px;">
            <input nz-input [(ngModel)]="item.value">
          </td>
          <td style="padding:2px;">
            <input nz-input [(ngModel)]="item.alias" [placeholder]="'field-alias'|translate">
          </td>
          <td style="padding:2px;width:32px;">
            <i nz-icon nzType="close" theme="outline" class="click-icon" (click)="removeAggs(i)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="bottom-btns">
      <a (click)="addAggs()">{{'btn-add'|translate}}</a>
    </div>
  </nz-card>
  <nz-card [nzTitle]="'field-inclusions'|translate" [nzBodyStyle]="{'padding':'8px'}">
    <nz-table #nzInclusionTable [nzSize]="'default'" [nzData]="inOnly" [nzNoResult]="'🤔'" [nzShowPagination]="false"
      [nzFrontPagination]="false">
      <tbody>
        <tr *ngFor="let item of nzInclusionTable.data; let i = index">
          <td style="padding:2px;width:120px;">
            <nz-select style="width:100%;" nzMode="default" [nzPlaceHolder]="'field-type'|translate"
              [(ngModel)]="item.type">
              <nz-option *ngFor="let t of configFieldType" [nzLabel]="t.label|translate" [nzValue]="t.value">
              </nz-option>
            </nz-select>
          </td>
          <td style="padding:2px;">
            <input nz-input [(ngModel)]="item.value">
          </td>
          <td style="padding:2px;width:32px;">
            <i nz-icon nzType="close" theme="outline" class="click-icon" (click)="removeInclusion(i)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="bottom-btns">
      <a (click)="addInclusion()">{{'btn-add'|translate}}</a>
    </div>
  </nz-card>
  <nz-card [nzTitle]="'item-second-filter'|translate" [nzBodyStyle]="{'padding':'8px'}">
    <nz-input-group style="padding-bottom:4px;" [nzAddOnBefore]="'field-min-req-count'|translate">
      <input type="text" nz-input [(ngModel)]="config.minReqCount">
    </nz-input-group>
    <nz-input-group style="padding-bottom:10px;" [nzAddOnBefore]="'field-ex-suffixes'|translate">
      <input type="text" nz-input [placeholder]="'tips-separated-by-comma'|translate" [(ngModel)]="config.exSuffixes">
    </nz-input-group>
    <div style="float:right;padding-right:32px;">
      <a (click)="addSuffixes()">{{'btn-add-default-suffixes'|translate}}</a>
    </div>
  </nz-card>
  <div style="padding:8px;text-align:right;">
    <button nz-button style="background-color:lightcoral;" nzType="primary" [nzLoading]="previewLoading"
      (click)="preview()">{{'btn-preview'|translate}}</button>
    <button nz-button nzType="primary" (click)="save()">{{'btn-save'|translate}}</button>
  </div>
  <nz-list [nzLoading]="previewLoading" [nzDataSource]="list" [nzItemLayout]="'horizontal'" [nzRenderItem]="item"
    [nzPagination]="pagination">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta [nzTitle]="nzTitle">
          <ng-template #nzTitle>
            <div style="padding-left:10px;">
              <nz-tag [nzColor]="methodTagColor(item)">{{item.method}}</nz-tag>
              <a>{{item.urlPath}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <span style="padding-left:4px;color:lightgray;">{{formatNumber(item)}}</span>
              <nz-divider nzType="vertical"></nz-divider>
              <span>
                <span>{{item.percentage/100 + '%'}}</span>
                <i style="padding-left:4px;color:lightgray;" nz-icon nzType="pie-chart" theme="outline"></i>
              </span>
              <nz-divider nzType="vertical"></nz-divider>
              <span *ngIf="item.belongs" style="float:right;">
                <nz-tag *ngFor="let p of item.belongs" [nzColor]="p.covered?'cyan':''">
                  <span>{{p.group}}/{{p.project}}</span>
                  <span *ngIf="p.covered">({{p.count}})</span>
                </nz-tag>
              </span>
            </div>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination *ngIf="apiItems.length>0" [(nzPageIndex)]="pageIndex" [nzTotal]="pageTotal"
        [nzShowTotal]="totalTemplate" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[20, 50, 100]"
        [(nzPageSize)]="pageSize" (nzPageSizeChange)="pageChange()" (nzPageIndexChange)="pageChange()">
        <ng-template #totalTemplate let-total>
          <span style="color:lightgray;">
            <span>{{'item-total'|translate}}</span>
            <span> {{total}} </span>
            <span>{{'item-item'|translate}}</span>
          </span>
        </ng-template>
      </nz-pagination>
    </ng-template>
  </nz-list>
</div>
