<div style="height: 32px;margin-top: 4px;">
  <label nz-checkbox [(ngModel)]="options.saveCommandLog">{{'tips.runner.saveCommandLog'|translate}}</label>
  <label nz-checkbox [(ngModel)]="options.saveDriverLog">{{'tips.runner.saveDriverLog'|translate}}</label>
  <button style="margin-left: 16px;" nz-button nzType="primary" nzSize="small" [nzLoading]="loading"
    (click)="startCommand()">{{'btn-send'|translate}}</button>
</div>
<div style="margin-top: 4px;">
  <nz-list nzItemLayout="vertical" nzSize="small">
    <nz-list-item *ngFor="let item of drivers" style="padding: 4px;">
      <div class="line">
        <div class="actions">
          <span
            style="float: left;color: lightslategray;font-size: small;">{{item.version?item.version.browser:''}}</span>
          <span>
            <img *ngIf="item.electron" class="ctl-img" src="/assets/svg/electron.svg" />
            <img style="margin-left: 4px;" class="ctl-img" src="/assets/svg/console.svg" (click)="openConsole(item)" />
          </span>
          <label nz-checkbox [(ngModel)]="item._checked">{{'btn.select'|translate}}</label>
        </div>
        <div class="img" nz-popover [nzPopoverContent]="previewTpl" nzPopoverTrigger="hover"
          nzPopoverPlacement="leftTop">
          <img *ngIf="item.screenCapture" [src]="getImgSrc(item)" />
          <img *ngIf="!item.screenCapture" src="/assets/svg/chrome.svg" />
          <ng-template #previewTpl>
            <div>
              <div style="font-size: small;color: lightgray;">
                <div>{{item.host}}:{{item.port}} {{item.hostname}} {{getUpdateTime(item)}}</div>
              </div>
              <img *ngIf="item.screenCapture" style="width: 640px;height: 480px;object-fit: contain;"
                [src]="getImgSrc(item)" />
            </div>
          </ng-template>
        </div>
      </div>
    </nz-list-item>
  </nz-list>
</div>
