<div>
  <app-feed-item-title [action]="action" [user]="item.user" [activity]="item.activity"></app-feed-item-title>
</div>
<div class="feed-content">
  <div>
    <span class="feed-item-title" (click)="go()">{{request.summary}}</span>
    <span class="tail-labels">
      <ng-container *ngIf="request.labels">
        <nz-tag *ngFor="let label of request.labels">{{label.name}}</nz-tag>
      </ng-container>
    </span>
  </div>
  <div>
    <nz-tag [nzColor]="'geekblue'">
      <i nz-icon nzType="database" nzTheme="outline"></i>
      <span> sql</span>
    </nz-tag>
    <span class="small-text">{{signature}}</span>
  </div>
</div>
