<div>
  <div class="content__title" style="margin:0px;">
    <div style="width:100%;">
      <nz-select style="padding-left:5px;width:150px;" nzMode="default" [nzSize]="'small'" [nzPlaceHolder]="'field-date'|translate"
        nzAllowClear nzShowSearch [(ngModel)]="queryDomain.date" (ngModelChange)="dateChange()">
        <nz-option *ngFor="let item of dates" [nzLabel]="item.id" [nzValue]="item.id" nzCustomContent>
          <span>{{item.id}}</span>
        </nz-option>
      </nz-select>
      <nz-select style="padding-left:5px;width:300px;" nzMode="default" [nzSize]="'small'" [nzPlaceHolder]="'field-domain'|translate"
        nzAllowClear nzShowSearch [(ngModel)]="domain" (ngModelChange)="domainChange()" [nzServerSearch]="true"
        (nzOnSearch)="searchDomain($event)">
        <nz-option *ngFor="let item of domains" [nzLabel]="item.name" [nzValue]="item.name" nzCustomContent>
          <span>{{item.name}}</span>
        </nz-option>
      </nz-select>
      <nz-tag *ngIf="!domain" style="padding-left:8px;" nzMode="checkable" [(nzChecked)]="hashObj.showCovRate"
        (nzCheckedChange)="checkChange($event)" [nzColor]="hashObj.showCovRate?'lightseagreen':'lightgray'">{{'item-show-cov-rate'|translate}}</nz-tag>
      <nz-select *ngIf="domain" style="padding-left:10px;width:100px;" nzMode="default" [nzSize]="'small'"
        [nzPlaceHolder]="'field-method'|translate" [(ngModel)]="queryApi.method" nzAllowClear (ngModelChange)="loadDomainApiData()">
        <nz-option *ngFor="let m of methods" [nzLabel]="m" [nzValue]="m"></nz-option>
      </nz-select>
      <nz-input-group *ngIf="domain" style="padding-left:5px;" [nzSize]="'small'" [nzAddOnBefore]="'field-path'|translate">
        <input type="text" nz-input [(ngModel)]="queryApi.urlPath" (ngModelChange)="loadDomainApiData()">
      </nz-input-group>
      <button *ngIf="domain" style="float:right;margin-left:8px;" nz-button nzSize="small" nzType="default" (click)="showDomainSyncSetting()">
        <i class="anticon anticon-setting"></i>
      </button>
      <button *ngIf="domain" style="float:right;" nz-button nzSize="small" nzType="default" (click)="showDomainCharts()">
        <i class="anticon anticon-dot-chart"></i>
      </button>
    </div>
  </div>
  <div *ngIf="!domain">
    <div *ngIf="!hashObj.showCovRate" style="overflow:hidden;padding-top:20px;padding-right:12px;">
      <ngx-charts-bar-vertical [view]="view1" [scheme]="colorScheme" [results]="domainsResult" (select)="onDomainSelect($event)"
        [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="'🐣 '+('item-request-count'|translate)">
      </ngx-charts-bar-vertical>
    </div>
    <div *ngIf="hashObj.showCovRate" style="overflow:hidden;padding-top:20px;padding-right:12px;">
      <ngx-charts-bar-horizontal [view]="view1" [scheme]="colorScheme" [results]="domainsCoverateResult" (select)="onDomainSelect($event)"
        [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="'🦉 '+('field-coverage'|translate)">
      </ngx-charts-bar-horizontal>
    </div>
  </div>
  <div *ngIf="domain">
    <nz-card [nzBordered]="false" [nzBodyStyle]="{'padding-top':'8px'}">
      <nz-list [nzDataSource]="apiItems" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzPagination]="pagination">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent" [nzActions]="[edit]">
            <nz-list-item-meta [nzTitle]="nzTitle">
              <ng-template #nzTitle>
                <div style="padding-left:10px;">
                  <nz-tag [nzColor]="methodTagColor(item)">{{item.method}}</nz-tag>
                  <a>{{item.urlPath}}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <span style="padding-left:4px;color:lightgray;">{{formatNumber(item)}}</span>
                  <nz-divider nzType="vertical"></nz-divider>
                  <span>
                    <span>{{item.percentage/100 + '%'}}</span>
                    <i style="padding-left:4px;color:lightgray;" class="anticon anticon-pie-chart"></i>
                  </span>
                  <nz-divider nzType="vertical"></nz-divider>
                  <span *ngIf="item.metrics">
                    <i style="padding-left:8px;padding-right:4px;color:lightseagreen;" class="anticon anticon-rocket"></i>
                    <span style="color:lightgray;">(ms) </span>
                    <span style="padding-left:0px;">min: {{item.metrics.min}}</span>
                    <span style="padding-left:4px;">avg: {{item.metrics.avg}}</span>
                    <span style="padding-left:4px;">max: {{item.metrics.max}}</span>
                    <span style="padding-left:8px;color:lightgray;">p25: {{item.metrics.p25}},</span>
                    <span style="padding-left:4px;color:lightgray;">p50: {{item.metrics.p50}},</span>
                    <span style="padding-left:4px;color:lightgray;">p75: {{item.metrics.p75}},</span>
                    <span style="padding-left:4px;color:lightgray;">p95: {{item.metrics.p95}},</span>
                    <span style="padding-left:4px;color:lightgray;">p99: {{item.metrics.p99}},</span>
                    <span style="padding-left:4px;color:lightgray;">p999: {{item.metrics.p999}},</span>
                  </span>
                </div>
              </ng-template>
            </nz-list-item-meta>
            <ng-template #edit>
              <nz-divider nzType="vertical"></nz-divider>
              <app-domain-api-item [item]="item"></app-domain-api-item>
              <nz-divider nzType="vertical"></nz-divider>
              <button *ngIf="'GET'===item.method" nz-button nzSize="small" nzType="default" (click)="viewItem(item)">
                <i style="color:lightblue;" class="anticon anticon-chrome"></i>
              </button>
              <button *ngIf="'GET'!==item.method" nz-button nzSize="small" nzType="default" disabled (click)="viewItem(item)">
                <i style="color:lightgray;" class="anticon anticon-chrome"></i>
              </button>
              <nz-divider nzType="vertical"></nz-divider>
            </ng-template>
          </nz-list-item>
        </ng-template>
        <ng-template #pagination>
          <nz-pagination *ngIf="apiItems.length>0" [(nzPageIndex)]="pageIndex" [nzTotal]="pageTotal" [nzShowTotal]="totalTemplate"
            [nzShowSizeChanger]="true" [nzPageSizeOptions]="[20, 50, 100]" [(nzPageSize)]="pageSize" (nzPageSizeChange)="pageChange()"
            (nzPageIndexChange)="pageChange()">
            <ng-template #totalTemplate let-total>
              <span style="color:lightgray;">
                <span>{{'item-total'|translate}}</span>
                <span> {{total}} </span>
                <span>{{'item-item'|translate}}</span>
              </span>
            </ng-template>
          </nz-pagination>
        </ng-template>
      </nz-list>
    </nz-card>
  </div>
</div>
<div *ngIf="showDomainApis&&domainResult.length>0">
  <nz-drawer [nzMask]="true" [nzPlacement]="'right'" [nzBodyStyle]="{'padding':'8px'}" [nzWidth]="drawerWidth"
    [nzVisible]="domainChartDrawerVisible" [nzClosable]="false" (nzOnClose)="domainChartDrawerVisible=false">
    <ngx-charts-bar-vertical [view]="view2" [scheme]="colorScheme" [results]="domainResult" (select)="onDomainDateSelect($event)"
      [barPadding]="1" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="'title-request-count'|translate">
    </ngx-charts-bar-vertical>
    <ngx-charts-bar-vertical [view]="view2" [scheme]="colorScheme" [results]="domainCoverageResults" (select)="onDomainDateSelect($event)"
      [barPadding]="1" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="'title-coverage'|translate">
    </ngx-charts-bar-vertical>
  </nz-drawer>
</div>
