<div>
  <div class="alain-default__content-title">
    <h1 style="padding-left: 10px;">{{'content-title-env-list'|translate}}</h1>
    <app-project-breadcrumb></app-project-breadcrumb>
  </div>
  <nz-card [nzBordered]="false">
    <nz-list *ngIf="items.length>0" [nzDataSource]="items" [nzItemLayout]="'horizontal'" [nzRenderItem]="item"
      [nzPagination]="pagination" [nzLoading]="loading" [nzHeader]="nzHeader">
      <ng-template #nzHeader>
        <nz-input-group style="width:100%;" [nzSize]="'default'" [nzSuffix]="suffixButton" nzSearch>
          <input nz-input [placeholder]="'tips-search'|translate" [(ngModel)]="search.text" (keyup.enter)="loadData()">
          <ng-template #suffixButton>
            <a class="click-icon" style="margin-right:10px;"><i nz-icon nzType="search" theme="outline"
                (click)="loadData()"></i></a>
          </ng-template>
        </nz-input-group>
      </ng-template>
      <ng-template #item let-item>
        <nz-list-item [nzActions]="[edit]">
          <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
            <ng-template #nzTitle>
              <a [routerLink]="[getRouter(item)]">{{item.summary}}</a>
            </ng-template>
            <ng-template #nzDescription>
              <span>{{item.description}}</span>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #edit>
            <button nz-button nzSize="small" nzType="default" (click)="editItem(item)">
              <i nz-icon nzType="setting" theme="outline"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" (click)="deleteItem(item)">
              <i nz-icon nzType="delete" theme="outline"></i>
            </button>
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination *ngIf="items.length>0" [(nzPageIndex)]="pageIndex" [nzShowTotal]="totalTemplate"
          [nzTotal]="pageTotal" [nzPageSize]="pageSize" (nzPageIndexChange)="pageChange()"></nz-pagination>
        <ng-template #totalTemplate let-total>
          <span style="color:lightgray;">
            <span>{{'item-total'|translate}}</span>
            <span> {{total}} </span>
            <span>{{'item-item'|translate}}</span>
          </span>
        </ng-template>
      </ng-template>
    </nz-list>
    <div *ngIf="loading===false&&items.length===0">{{'tips-no-data'|translate}}</div>
  </nz-card>
</div>
