<div nz-row nzType="flex" nzJustify="start" [nzGutter]="3">
  <div nz-col nzSpan="24" style="border:1px solid lightgray;border-radius:5px;">
    <nz-divider style="margin-top:5px;" [nzText]="nzText" nzOrientation="left">
      <ng-template #nzText>
        <span style="font-size:small;color:darkgray;">{{'field-steps'|translate}}</span>
      </ng-template>
    </nz-divider>
    <div [sortablejs]="steps" [sortablejsOptions]="sortablejsOptions">
      <div class="step" style="width:100%;margin-left:10px;margin-top:6px;margin-right:10px;"
        *ngFor="let item of steps;let i = index;">
        <div [ngSwitch]="item.type">
          <ng-container *ngSwitchCase="'case'">
            <span><i nz-icon type="bars" theme="outline" class="click-icon" style="cursor:grab"></i></span>
            <span> {{i+1}}. </span>
            <a style="padding-left:4px;" (click)="removeStep(item, i)">
              <i nz-icon type="close-circle" theme="outline" class="click-icon hover-red"></i>
            </a>
            <span class="step-title" (click)="viewStep(item)">
              <span style="padding-left:3px;color:darkgray;cursor:pointer;">{{getStepData(item).summary}}</span>
            </span>
            <ng-container *ngIf="item.labels">
              <span style="float:right;transform:scale(0.8);">
                <nz-tag *ngFor="let item of getStepData(item).labels">{{getStepData(item).name}}</nz-tag>
              </span>
            </ng-container>
            <div style="padding-left:16px;">
              <nz-badge [nzStatus]="getStepStatus(item).status"></nz-badge>
              <nz-tag [nzColor]="methodTagColor(item)">{{getStepData(item).request.method}}</nz-tag>
              <span style="font-size:smaller;color:lightgray;">{{getStepData(item).request.urlPath}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div nz-row style="padding:16px;">
      <button nz-button nzSize="small" nzType="dashed" (click)="selectStep()">
        <span style="margin-left:2px;">{{'btn-add-req'|translate}}</span>
      </button>
      <nz-dropdown-button style="margin-left:4px;" nzSize="small" nzType="dashed" (nzClick)="addNewStep()">
        <span>
          <span><i nz-icon type="plus" theme="outline"></i></span>
          <span style="margin-left:2px;">{{'btn-add-new-req'|translate}}</span>
        </span>
        <ul nz-menu>
          <li nz-menu-item>MySQL</li>
          <li nz-menu-item>Dubbo</li>
        </ul>
      </nz-dropdown-button>
    </div>
  </div>
</div>
<!-- select steps drawer -->
<nz-drawer [nzVisible]="stepListDrawerVisible" [nzWidth]="stepListDrawerWidth" [nzBodyStyle]="{'padding':'4px'}"
  [nzClosable]="false" (nzOnClose)="stepListDrawerVisible=false">
  <app-select-step *ngIf="stepListDrawerSwitch" [group]="group" [project]="project" [onSelectSubject]="onSelectSubject"
    [onUpdateSubject]="onUpdateSubject" [ctxOptions]="_ctxOptions">
  </app-select-step>
</nz-drawer>
