<div class="alain-default__content-title">
  <h1 style="padding-left: 10px;">{{'field-project'|translate}}</h1>
</div>
<nz-card>
  <nz-list [nzDataSource]="items" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzPagination]="pagination"
    [nzLoading]="loading" [nzHeader]="nzHeader">
    <ng-template #nzHeader>
      <nz-input-group style="width:100%;" [nzSize]="'default'" [nzSuffix]="suffixButton">
        <input nz-input [placeholder]="'tips-search'|translate" [(ngModel)]="search.text" (keyup.enter)="loadData()">
        <ng-template #suffixButton>
          <a class="click-icon" style="margin-right:10px;">
            <i nz-icon nzType="search" theme="outline" (click)="loadData()"></i>
          </a>
        </ng-template>
      </nz-input-group>
    </ng-template>
    <ng-template #item let-item>
      <nz-list-item [nzActions]="[actions]">
        <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="nzDescription">
          <ng-template #nzAvatar>
            <nz-avatar style="cursor:pointer;" nzSize="large" [nzText]="projectAvatarText(item)" [nzSrc]="item.avatar"
              (click)="goItem(item)">
            </nz-avatar>
          </ng-template>
          <ng-template #nzTitle>
            <span (click)="goGroup(item)" style="cursor:pointer;">{{groupBreadcrumb(item)}}</span>
            <span style="color:lightgray;"> / </span>
            <span (click)="goItem(item)" style="cursor:pointer;">{{projectBreadcrumb(item)}}</span>
          </ng-template>
          <ng-template #nzDescription>
            <div>{{item.description}}</div>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #actions>
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [(nzPageIndex)]="pageIndex" [nzShowTotal]="totalTemplate" [nzTotal]="pageTotal"
        [nzPageSize]="pageSize" (nzPageIndexChange)="pageChange()">
      </nz-pagination>
      <ng-template #totalTemplate let-total>
        <span style="color:lightgray;">
          <span>{{'item-total'|translate}}</span>
          <span> {{total}} </span>
          <span>{{'item-item'|translate}}</span>
        </span>
      </ng-template>
    </ng-template>
  </nz-list>
</nz-card>
