.line {
  margin-top: 4px;
}
.line > div {
  font-size: small;
  color: lightslategray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.margin {
  font-size: small;
  margin: 4px 0;
  color: lightslategrey;
}
.plus {
  color: lightseagreen;
  font-size: medium;
  margin-left: 4px;
}
