<div class="wrapper">
  <div class="router-progress-bar" *ngIf="isFetching"></div>
  <layout-header class="header"></layout-header>
  <div class="aside">
    <div class="aside-inner">
      <nz-dropdown style="height:42px;" nzTrigger="click" class="user-block">
        <div nz-dropdown class="user-block-dropdown">
          <nz-avatar class="avatar" [nzSrc]="group.avatar" [nzText]="group.id?group.id[0].toUpperCase():''"></nz-avatar>
          <div class="info">
            <strong>{{group.id}}</strong>
            <p class="text-truncate mb0" [title]="group.description">{{group.summary}}:{{group.description}}</p>
          </div>
        </div>
      </nz-dropdown>
      <sidebar-nav class="d-block py-lg"></sidebar-nav>
    </div>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
