<nz-layout class="layout">
  <nz-sider class="ui-scroll-bar" nzCollapsible [(nzCollapsed)]="isCollapsed" nzTheme="light" [nzCollapsedWidth]="80"
    [nzTrigger]="null">
    <ul nz-menu nzMode="inline" style="height: 100%;">
      <div *ngIf="!isCollapsed" class="title">{{'title.spaces'|translate}}</div>
      <li *ngFor="let g of groups" nz-submenu [nzTitle]="gTpl" [nzOpen]="!isCollapsed&&openMenu[g.id]"
        (nzOpenChange)="openChange($event, g)">
        <ng-template #gTpl>
          <span>
            <nz-avatar class="avatar" [nzText]="groupAvatar(g)" nzSize="small" [nzSrc]="g.avatar"></nz-avatar>
            <span *ngIf="!isCollapsed">{{g.summary||g.id}}</span>
          </span>
        </ng-template>
        <ul *ngIf="groupProjects[g.id]">
          <li *ngFor="let p of groupProjects[g.id]" nz-menu-item [nzSelected]="selectMenu[p.group+p.id]"
            (click)="goProject(p)">
            <nz-avatar class="avatar" [nzText]="projectAvatar(p)" nzSize="small" [nzSrc]="p.avatar"></nz-avatar>
            <span>{{p.summary||p.id}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-content [style.marginLeft.px]="isCollapsed?80:200">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
