.layout {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
.title {
  padding: 12px 12px 12px 24px;
  color: lightgray;
}

.avatar {
  margin-right: 8px;
}

nz-sider {
  overflow: auto;
  height: 100%;
}

nz-content {
}
