<div style="height: 100%;display: flex;">
  <div class="content ui-scroll-bar" [style.height.px]="height">
    <div>
      <div>
        <span>{{'field.name'|translate}}</span>
        <span style="color: red;">*</span>
      </div>
      <input nz-input [placeholder]="'field.name'|translate" [(ngModel)]="file.name" />
    </div>
    <div>
      <div>{{'field.description'|translate}}</div>
      <textarea nz-input [nzAutosize]="{minRows: 2}" [placeholder]="'field.description'|translate"
        [(ngModel)]="file.description">
      </textarea>
    </div>
    <div [ngSwitch]="file.app">
      <ng-container *ngSwitchCase="'web.monkey'">
        <app-monkey-command [(params)]="file.data"></app-monkey-command>
      </ng-container>
      <ng-container *ngSwitchCase="'karate'">
        <app-ui-file-app-karate [file]="file"></app-ui-file-app-karate>
      </ng-container>
      <ng-container *ngSwitchCase="'solopi'">
        <app-ui-file-app-solopi [file]="file"></app-ui-file-app-solopi>
      </ng-container>
      <ng-container *ngSwitchCase="'raw'">
        <app-ui-file-app-raw [file]="file"></app-ui-file-app-raw>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div>{{file.app}}</div>
      </ng-container>
    </div>
  </div>
  <div>
    <app-ui-activity-bar [file]="file"></app-ui-activity-bar>
  </div>
</div>
