// 可以通过 http://ng-alain.com/theme 生成相应的参数代码
@header-hg: 48px;
div.indigo-content {
    margin-top: @header-hg;
}

@header-bg: #009688;
.header-item-btn {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

@header-item-hover-color: wheat;
.header-item-btn:hover {
    color: @header-item-hover-color;
}

.header-item-btn-active>span {
    color: @header-item-hover-color;
}

@avatar-bg: lightblue;
