.code-container {
  padding: 10px
}

.code {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 4px;
  color: tomato;
  font-weight: 500;
}

.dt {
  color: lightgray;
  font-size: small;
}
