<div>
  <div class="content__title">
    <h1 style="padding-left: 10px;">{{'content-title-job'|translate}}</h1>
  </div>
  <!-- basic info -->
  <nz-card [nzBordered]="false" [nzBodyStyle]="card1BodyStyle">
    <div>
      <nz-input-group [nzAddOnBefore]="summaryTpl">
        <input nz-input [placeholder]="'field-summary'|translate" [(ngModel)]="jobMeta.name">
      </nz-input-group>
      <ng-template #summaryTpl>
        <label>
          <span style="color:red;font-family:SimSun;padding-right:3px;">*</span>
          <span>{{'field-summary'|translate}}</span>
        </label>
      </ng-template>
    </div>
    <div style="margin-top:7px;">
      <nz-input-group [nzAddOnBefore]="descTpl">
        <textarea nz-input [nzAutosize]="{minRows:2, maxRows:4}" [placeholder]="'field-description'|translate"
          [(ngModel)]="jobMeta.desc"></textarea>
      </nz-input-group>
      <ng-template #descTpl>
        <label>
          <span style="visibility:hidden;padding-right:3px;">*</span>
          <span>{{'field-description'|translate}}</span>
        </label>
      </ng-template>
    </div>
  </nz-card>
  <!-- trigger -->
  <nz-card [nzBordered]="false" [nzBodyStyle]="card2BodyStyle">
    Trigger TODO
  </nz-card>
  <!-- job data -->
  <nz-card [nzBordered]="false" [nzBodyStyle]="card2BodyStyle">
    <app-case-selector [(data)]="jobCaseIds"></app-case-selector>
  </nz-card>
  <div style="margin-top:7px;">
    <button nz-button [nzType]="'primary'" [nzSize]="'default'" [nzLoading]="isSending" (click)="test()">
      <span>
        <i class="anticon anticon-scan"></i>
        <span>{{'btn-test'|translate}}</span>
      </span>
    </button>
    <button nz-button nzType="primary" [nzLoading]="submitting" (click)="submit()">{{'btn-commit'|translate}}</button>
    <button nz-button nzType="default" (click)="goBack()">{{'btn-back'|translate}}</button>
  </div>
</div>
