<div>
  <div class="alain-default__content-title">
    <h1 style="padding-left: 10px;">{{'content-title-job'|translate}}</h1>
    <span>
      <span [style.color]="'lightseagreen'">{{jobMeta.summary}}</span>
      <span *ngIf="jobId">
        <a style="color:lightgray;padding-left:5px;font-size:smaller;"
          [routerLink]="['/job', jobMeta.group, jobMeta.project, jobId]">({{jobId}})</a>
      </span>
      <app-env-selector [group]="group" [project]="project" [(env)]="jobMeta.env" (envChange)="envChange()">
      </app-env-selector>
    </span>
  </div>
  <!-- basic info -->
  <nz-card [nzBordered]="false" [nzBodyStyle]="card1BodyStyle">
    <div>
      <nz-input-group style="width:100%;" [nzAddOnBefore]="summaryTpl">
        <input nz-input [placeholder]="'field-summary'|translate" [(ngModel)]="jobMeta.summary">
      </nz-input-group>
      <ng-template #summaryTpl>
        <label>
          <span style="color:red;font-family:SimSun;padding-right:3px;">*</span>
          <span>{{'field-summary'|translate}}</span>
        </label>
      </ng-template>
    </div>
    <div style="margin-top:7px;">
      <nz-input-group style="width:100%;" [nzAddOnBefore]="descTpl">
        <textarea nz-input [nzAutosize]="{minRows:2, maxRows:4}" [placeholder]="'field-description'|translate"
          [(ngModel)]="jobMeta.description"></textarea>
      </nz-input-group>
      <ng-template #descTpl>
        <label>
          <span style="visibility:hidden;padding-right:3px;">*</span>
          <span>{{'field-description'|translate}}</span>
        </label>
      </ng-template>
    </div>
  </nz-card>
  <!-- trigger -->
  <nz-card [nzBordered]="false" [nzBodyStyle]="card2BodyStyle">
    <app-job-trigger [(data)]="triggerMeta"></app-job-trigger>
  </nz-card>
  <!-- job data -->
  <nz-card [nzBordered]="false" [nzBodyStyle]="card2BodyStyle">
    <nz-tabset style="min-height:240px" [nzTabPosition]="'top'" [nzType]="'line'" [nzAnimated]="false"
      [nzSize]="'small'" (nzSelectedIndexChange)="tabIndexChange($event)">
      <nz-tab [nzTitle]="'field-case'|translate">
        <app-case-selector [(data)]="jobCaseIds" [(ext)]="jobDataExt" [ctxOptions]="ctxOptions"></app-case-selector>
      </nz-tab>
      <nz-tab [nzTitle]="'field-scenario'|translate">
        <app-scenario-selector *ngIf="scenarioSelectorSwitch" [(data)]="jobScenarioIds" [ctxOptions]="ctxOptions">
        </app-scenario-selector>
      </nz-tab>
      <nz-tab [nzTitle]="'item-subscribers'|translate">
        <app-job-subscribers *ngIf="jobSubscribersSwitch" [(data)]="subscribers"></app-job-subscribers>
      </nz-tab>
    </nz-tabset>
  </nz-card>
  <div style="margin-top:7px;">
    <button nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="test()">
      <span>
        <i nz-icon type="scan" theme="outline"></i>
        <span>{{'btn-test'|translate}}</span>
      </span>
    </button>
    <button *ngIf="!jobId" nz-button nzType="primary" [nzLoading]="submitting"
      (click)="submit()">{{'btn-new'|translate}}</button>
    <button *ngIf="jobId" nz-button nzType="primary" [nzLoading]="submitting"
      (click)="submit()">{{'btn-update'|translate}}</button>
    <button *ngIf="!jobId" nz-button nzType="default" (click)="reset()">{{'btn-reset'|translate}}</button>
    <button nz-button nzType="default"
      (click)="consoleDrawerVisible=!consoleDrawerVisible">{{'btn-progress'|translate}}</button>
    <button nz-button nzType="default" (click)="goBack()">{{'btn-back'|translate}}</button>
  </div>
</div>
<!-- console draw -->
<nz-drawer [nzMask]="true" [nzPlacement]="'top'" [nzMaskStyle]="{'background-color':'transparent'}"
  [nzBodyStyle]="{'padding':'0px'}" [nzVisible]="consoleDrawerVisible" [nzHeight]="0" [nzClosable]="false"
  (nzOnClose)="consoleDrawerVisible=false">
  <app-console-report [log]="logSubject" [style.visibility]="consoleDrawerVisible?'visible':'hidden'">
  </app-console-report>
</nz-drawer>
