<div>
  <nz-radio-group [(ngModel)]="contentType" (ngModelChange)="contentTypeChange()">
    <label nz-radio [nzValue]="'application/x-www-form-urlencoded'">
      <span>x-www-form-urlencoded</span>
    </label>
    <label nz-radio [nzValue]="'application/json'">
      <span>json</span>
    </label>
    <label nz-radio [nzValue]="'text/plain'">
      <span>text/plain</span>
    </label>
    <label nz-radio [nzValue]="'multipart/form-data'">
      <span>form-data</span>
    </label>
  </nz-radio-group>
  <div style="width:100%;margin:5px;"></div>
  <div [ngSwitch]="contentType">
    <div *ngSwitchCase="'application/x-www-form-urlencoded'">
      <app-key-value [(data)]="mediaObjects['application/x-www-form-urlencoded']" (dataChange)="modelChange()">
      </app-key-value>
    </div>
    <div *ngSwitchCase="'application/json'">
      <ngx-monaco-editor class="code-editor" [options]="textEditorOptions"
        [(ngModel)]="mediaObjects['application/json']" (ngModelChange)="modelChange()">
      </ngx-monaco-editor>
    </div>
    <div *ngSwitchCase="'text/plain'">
      <ngx-monaco-editor class="code-editor" [options]="textEditorOptions" [(ngModel)]="mediaObjects['text/plain']"
        (ngModelChange)="modelChange()">
      </ngx-monaco-editor>
    </div>
    <div *ngSwitchCase="'multipart/form-data'">
      <app-form-data-item [(data)]="mediaObjects['multipart/form-data']" (dataChange)="modelChange()" [group]="group"
        [project]="project">
      </app-form-data-item>
    </div>
  </div>
</div>
