<div>
  <nz-radio-group [(ngModel)]="contentType" (ngModelChange)="contentTypeChange()">
    <label nz-radio [nzValue]="'application/x-www-form-urlencoded'">
      <span>application/x-www-form-urlencoded</span>
    </label>
    <label nz-radio [nzValue]="'application/json'">
      <span>application/json</span>
    </label>
    <label nz-radio [nzValue]="'text/plain'">
      <span>text/plain</span>
    </label>
  </nz-radio-group>
  <div style="width:100%;">
    <hr style="margin:5px;">
  </div>
  <div nz-row [ngSwitch]="contentType">
    <div *ngSwitchCase="'application/json'">
      <ngx-monaco-editor [options]="jsonEditorOptions" [(ngModel)]="mediaObjects['application/json']"></ngx-monaco-editor>
    </div>
    <div *ngSwitchCase="'application/x-www-form-urlencoded'">
      form data
    </div>
    <div *ngSwitchCase="'text/plain'">
      <ngx-monaco-editor [options]="textEditorOptions" [(ngModel)]="mediaObjects['text/plain']"></ngx-monaco-editor>
    </div>
  </div>
</div>
