<div nz-row nzType="flex" nzJustify="start" [nzGutter]="3">
  <div nz-col nzSpan="14">
    <nz-list [nzDataSource]="items" nzBordered nzSize="small" [nzHeader]="nzHeader" [nzFooter]="nzFooter"
      [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent" [nzActions]="[addAction]"></nz-list-item>
        <ng-template #nzContent>
          <div style="padding-left:3px;width:100%;cursor:pointer;" (click)="viewScenario(item)">
            <span style="color:black;">{{item.summary}}</span>
            <span style="padding-left:5px;color:lightgray;">{{item.description}}</span>
            <span style="float:right;color:lightslategray;">{{item.group}}/{{item.project}}</span>
          </div>
        </ng-template>
        <ng-template #addAction>
          <a *ngIf="!addedItemsMap[item._id]" (click)="addItem(item)"><i nz-icon type="right" theme="outline"
              class="click-icon"></i></a>
          <a *ngIf="addedItemsMap[item._id]"><i style="color:yellowgreen;" nz-icon type="check-circle" theme="outline"
              class="click-icon"></i></a>
        </ng-template>
      </ng-template>
    </nz-list>
    <ng-template #nzHeader>
      <input nz-input [nzSize]="'small'" style="background-color:transparent;" [placeholder]="'tips-search'|translate"
        [(ngModel)]="searchText" (ngModelChange)="search()">
    </ng-template>
    <ng-template #nzFooter>
      <nz-pagination *ngIf="items.length>0" [nzSize]="'small'" [(nzPageIndex)]="pageIndex" [nzShowTotal]="totalTemplate"
        [nzTotal]="pageTotal" [nzPageSize]="pageSize" (nzPageIndexChange)="search()">
      </nz-pagination>
      <ng-template #totalTemplate let-total>
        <span style="color:lightgray;">
          <span>{{'item-total'|translate}}</span>
          <span> {{total}} </span>
          <span>{{'item-item'|translate}}</span>
        </span>
      </ng-template>
      <div *ngIf="items.length<=0">{{'tips-no-data'|translate}}</div>
    </ng-template>
  </div>
  <div nz-col nzSpan="10">
    <nz-list style="min-height:320px;" [nzDataSource]="addedItems" nzBordered nzSize="small" [nzHeader]="nzAddedHeader"
      [nzRenderItem]="addedItemsTpl">
      <ng-template #addedItemsTpl let-item let-i="index">
        <nz-list-item [nzContent]="nzAddedContent" [nzActions]="[removeAction]"></nz-list-item>
        <ng-template #nzAddedContent>
          <div style="padding-left:3px;width:100%;cursor:pointer;" (click)="viewScenario(item)">
            <a>{{item.summary}}</a>
          </div>
        </ng-template>
        <ng-template #removeAction>
          <a (click)="removeItem(item, i)"><i nz-icon type="close" theme="outline" class="click-icon hover-red"></i></a>
        </ng-template>
      </ng-template>
    </nz-list>
    <ng-template #nzAddedHeader>
      <div>
        <span>{{'tips-items-added-to-job'|translate}}</span>
        <nz-badge [nzShowZero]="true" [nzCount]="addedItems.length"
          [nzStyle]="{backgroundColor:'#52c41a','margin-left':'5px'}"></nz-badge>
      </div>
    </ng-template>
  </div>
</div>
