.hover-red {
  transition: all 0.3s ease;
}

.hover-red:hover {
  color: red;
  transform: rotate(180deg);
}

.tail-settings {
  float: right;
  color: lightslategray;
  padding-left: 4px;
}

.tail-settings i {
  font-size: smaller;
}

.s-list {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0;
}

.s-header {
  padding: 8px 16px;
  border-bottom: 1px solid lightgray;
}

.s-item {
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid lightblue;
}
