<nz-tabset [nzAnimated]="false" [(nzSelectedIndex)]="tabIndex" (nzSelectedIndexChange)="tabIndexChange()">
  <nz-tab [nzTitle]="httpTemplate">
    <ng-template #httpTemplate> <i nz-icon nzType="book"></i>HTTP</ng-template>
    <div class="search-group-project">
      <app-group-project-selector [(data)]="searchGroupProject" (dataChange)="groupProjectChange()">
      </app-group-project-selector>
    </div>
    <nz-list [nzDataSource]="httpItems" nzBordered nzSize="small" [nzHeader]="httpHeader" [nzFooter]="httpFooter"
      [nzRenderItem]="httpItem">
      <ng-template #httpItem let-httpItem>
        <nz-list-item [nzContent]="httpContent" [nzActions]="[httpActions]"></nz-list-item>
        <ng-template #httpContent>
          <div class="line" (click)="viewHttpStep(httpItem)">
            <span style="padding-left:3px;">
              <nz-tag [nzColor]="methodTagColor(httpItem)">{{httpItem.request.method}}</nz-tag>
              <span>{{httpItem.request.urlPath}}</span>
              <span class="title">{{httpItem.summary}}</span>
            </span>
            <span class="tail-text">{{httpItem.group}}/{{httpItem.project}}</span>
            <span class="tail-labels">
              <ng-container *ngIf="httpItem.labels">
                <nz-tag *ngFor="let label of httpItem.labels">{{label.name}}</nz-tag>
              </ng-container>
            </span>
          </div>
        </ng-template>
        <ng-template #httpActions>
          <button nz-button nzType="dashed" nzSize="small" (click)="cloneHttpStep(httpItem)">
            <i nz-icon nzType="copy" theme="outline"></i>
            <span>{{'btn-clone'|translate}}</span>
          </button>
          <button nz-button nzType="dashed" nzSize="small" (click)="refHttpStep(httpItem)">
            <i nz-icon nzType="link" theme="outline"></i>
            <span>{{'btn-reference'|translate}}</span>
          </button>
        </ng-template>
      </ng-template>
    </nz-list>
    <ng-template #httpHeader>
      <app-case-search-panel [(data)]="searchHttpStepModel" (dataChange)="searchHttpSteps()"></app-case-search-panel>
    </ng-template>
    <ng-template #httpFooter>
      <nz-pagination *ngIf="httpItems.length>0" [nzSize]="'small'" [(nzPageIndex)]="httpItemsPage.pageIndex"
        [nzShowTotal]="httpTotalTemplate" [nzTotal]="httpItemsPage.pageTotal" [nzPageSize]="httpItemsPage.pageSize"
        (nzPageIndexChange)="searchHttpSteps()">
      </nz-pagination>
      <ng-template #httpTotalTemplate let-httpTotal>
        <span style="color:lightgray;">
          <span>{{'item-total'|translate}}</span>
          <span> {{httpTotal}} </span>
          <span>{{'item-item'|translate}}</span>
        </span>
      </ng-template>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="dubboTemplate">
    <ng-template #dubboTemplate> <i nz-icon nzType="alibaba"></i>Dubbo</ng-template>
    <div class="search-group-project">
      <app-group-project-selector [(data)]="searchGroupProject" (dataChange)="groupProjectChange()">
      </app-group-project-selector>
    </div>
    <nz-list [nzDataSource]="dubboItems" nzBordered nzSize="small" [nzHeader]="dubboHeader" [nzFooter]="dubboFooter"
      [nzRenderItem]="dubboItem">
      <ng-template #dubboItem let-dubboItem>
        <nz-list-item [nzContent]="dubboContent" [nzActions]="[dubboActions]"></nz-list-item>
        <ng-template #dubboContent>
          <div class="line" (click)="viewDubboStep(dubboItem)">
            <span style="padding-left:3px;">
              <nz-tag [nzColor]="'gold'">
                <i nz-icon nzType="alibaba" nzTheme="outline"></i>
                <span> dubbo</span>
              </nz-tag>
              <span class="title">
                <span class="summary">{{dubboItem.summary}}</span>
                <span>{{dubboSignature(dubboItem)}}</span>
              </span>
            </span>
            <span class="tail-text">{{dubboItem.group}}/{{dubboItem.project}}</span>
            <span class="tail-labels">
              <ng-container *ngIf="dubboItem.labels">
                <nz-tag *ngFor="let label of dubboItem.labels">{{label.name}}</nz-tag>
              </ng-container>
            </span>
          </div>
        </ng-template>
        <ng-template #dubboActions>
          <button nz-button nzType="dashed" nzSize="small" (click)="cloneDubboStep(dubboItem)">
            <i nz-icon nzType="copy" theme="outline"></i>
            <span>{{'btn-clone'|translate}}</span>
          </button>
          <button nz-button nzType="dashed" nzSize="small" (click)="refDubboStep(dubboItem)">
            <i nz-icon nzType="link" theme="outline"></i>
            <span>{{'btn-reference'|translate}}</span>
          </button>
        </ng-template>
      </ng-template>
    </nz-list>
    <ng-template #dubboHeader>
      <app-dubbo-search-panel [(data)]="searchDubboStepModel" (dataChange)="searchDubboSteps()">
      </app-dubbo-search-panel>
    </ng-template>
    <ng-template #dubboFooter>
      <nz-pagination *ngIf="dubboItems.length>0" [nzSize]="'small'" [(nzPageIndex)]="dubboItemsPage.pageIndex"
        [nzShowTotal]="dubboTotalTemplate" [nzTotal]="dubboItemsPage.pageTotal" [nzPageSize]="dubboItemsPage.pageSize"
        (nzPageIndexChange)="searchDubboSteps()">
      </nz-pagination>
      <ng-template #dubboTotalTemplate let-dubboTotal>
        <span style="color:lightgray;">
          <span>{{'item-total'|translate}}</span>
          <span> {{dubboTotal}} </span>
          <span>{{'item-item'|translate}}</span>
        </span>
      </ng-template>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="sqlTemplate">
    <ng-template #sqlTemplate> <i nz-icon nzType="database"></i>MySql</ng-template>
    <div class="search-group-project">
      <app-group-project-selector [(data)]="searchGroupProject" (dataChange)="groupProjectChange()">
      </app-group-project-selector>
    </div>
    <nz-list [nzDataSource]="sqlItems" nzBordered nzSize="small" [nzHeader]="sqlHeader" [nzFooter]="sqlFooter"
      [nzRenderItem]="sqlItem">
      <ng-template #sqlItem let-sqlItem>
        <nz-list-item [nzContent]="sqlContent" [nzActions]="[sqlActions]"></nz-list-item>
        <ng-template #sqlContent>
          <div class="line" (click)="viewSqlStep(sqlItem)">
            <span style="padding-left:3px;">
              <nz-tag [nzColor]="'geekblue'">
                <i nz-icon nzType="database" nzTheme="outline"></i>
                <span> sql</span>
              </nz-tag>
              <span class="title">
                <span class="summary">{{sqlItem.summary}}</span>
                <span>{{sqlSignature(sqlItem)}}</span>
              </span>
            </span>
            <span class="tail-text">{{sqlItem.group}}/{{sqlItem.project}}</span>
            <span class="tail-labels">
              <ng-container *ngIf="sqlItem.labels">
                <nz-tag *ngFor="let label of sqlItem.labels">{{label.name}}</nz-tag>
              </ng-container>
            </span>
          </div>
        </ng-template>
        <ng-template #sqlActions>
          <button nz-button nzType="dashed" nzSize="small" (click)="cloneSqlStep(sqlItem)">
            <i nz-icon nzType="copy" theme="outline"></i>
            <span>{{'btn-clone'|translate}}</span>
          </button>
          <button nz-button nzType="dashed" nzSize="small" (click)="refSqlStep(sqlItem)">
            <i nz-icon nzType="link" theme="outline"></i>
            <span>{{'btn-reference'|translate}}</span>
          </button>
        </ng-template>
      </ng-template>
    </nz-list>
    <ng-template #sqlHeader>
      <app-sql-search-panel [(data)]="searchSqlStepModel" (dataChange)="searchSqlSteps()"></app-sql-search-panel>
    </ng-template>
    <ng-template #sqlFooter>
      <nz-pagination *ngIf="sqlItems.length>0" [nzSize]="'small'" [(nzPageIndex)]="sqlItemsPage.pageIndex"
        [nzShowTotal]="sqlTotalTemplate" [nzTotal]="sqlItemsPage.pageTotal" [nzPageSize]="sqlItemsPage.pageSize"
        (nzPageIndexChange)="searchSqlSteps()">
      </nz-pagination>
      <ng-template #sqlTotalTemplate let-sqlTotal>
        <span style="color:lightgray;">
          <span>{{'item-total'|translate}}</span>
          <span> {{sqlTotal}} </span>
          <span>{{'item-item'|translate}}</span>
        </span>
      </ng-template>
    </ng-template>
  </nz-tab>
</nz-tabset>
