<nz-tabset [nzAnimated]="false" [(nzSelectedIndex)]="tabIndex" (nzSelectedIndexChange)="tabIndexChange()">
  <nz-tab [nzTitle]="httpTemplate">
    <ng-template #httpTemplate> <i nz-icon type="book"></i>HTTP</ng-template>
    <div class="search-group-project">
      <app-group-project-selector [(data)]="searchGroupProject" (dataChange)="groupProjectChange()">
      </app-group-project-selector>
    </div>
    <nz-list [nzDataSource]="httpItems" nzBordered nzSize="small" [nzHeader]="httpHeader" [nzFooter]="httpFooter"
      [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="httpContent" [nzActions]="[httpActions]"></nz-list-item>
        <ng-template #httpContent>
          <div class="line">
            <span style="padding-left:3px;">
              <nz-tag [nzColor]="methodTagColor(item)">{{item.request.method}}</nz-tag>
              <span>{{item.request.urlPath}}</span>
              <a class="title" href="javascript:void(0);" (click)="viewHttpStep(item)">{{item.summary}}</a>
            </span>
            <span class="tail-labels">
              <span>{{item.group}}/{{item.project}}</span>
              <ng-container *ngIf="item.labels">
                <nz-tag *ngFor="let item of item.labels">{{item.name}}</nz-tag>
              </ng-container>
            </span>
          </div>
        </ng-template>
        <ng-template #httpActions>
          <a (click)="addHttpStep(item)"><i nz-icon type="plus-circle" theme="outline" class="click-icon"></i></a>
        </ng-template>
      </ng-template>
    </nz-list>
    <ng-template #httpHeader>
      <app-case-search-panel [(data)]="searchHttpStepModel" (dataChange)="searchHttpSteps()"></app-case-search-panel>
    </ng-template>
    <ng-template #httpFooter>
      <nz-pagination *ngIf="httpItems.length>0" [nzSize]="'small'" [(nzPageIndex)]="httpItemsPage.pageIndex"
        [nzShowTotal]="httpTotalTemplate" [nzTotal]="httpItemsPage.pageTotal" [nzPageSize]="httpItemsPage.pageSize"
        (nzPageIndexChange)="searchHttpSteps()">
      </nz-pagination>
      <ng-template #httpTotalTemplate let-total>
        <span style="color:lightgray;">
          <span>{{'item-total'|translate}}</span>
          <span> {{total}} </span>
          <span>{{'item-item'|translate}}</span>
        </span>
      </ng-template>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="dubboTemplate">
    <ng-template #dubboTemplate> <i nz-icon type="alibaba"></i>Dubbo</ng-template>
    <div class="search-group-project">
      <app-group-project-selector [(data)]="searchGroupProject" (dataChange)="groupProjectChange()">
      </app-group-project-selector>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="sqlTemplate">
    <ng-template #sqlTemplate> <i nz-icon type="database"></i>MySql</ng-template>
    <div class="search-group-project">
      <app-group-project-selector [(data)]="searchGroupProject" (dataChange)="groupProjectChange()">
      </app-group-project-selector>
    </div>
  </nz-tab>
</nz-tabset>
