<div>
  <div class="alain-default__content-title">
    <h1 style="padding-left: 10px;">{{'content-title-case-list'|translate}}</h1>
    <app-project-breadcrumb></app-project-breadcrumb>
  </div>
  <nz-card [nzBordered]="false">
    <nz-list [nzDataSource]="items" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzLoading]="loading"
      [nzHeader]="nzHeader" [nzFooter]="nzFooter">
      <ng-template #nzHeader>
        <app-case-search-panel [(data)]="search" [subject]="panelSubject"></app-case-search-panel>
      </ng-template>
      <ng-template #item let-item let-i="index">
        <nz-list-item [nzActions]="[edit]">
          <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
            <ng-template #nzTitle>
              <div>
                <label *ngIf="selectable" style="padding-right:8px;" nz-checkbox [(ngModel)]="item._checked"
                  (ngModelChange)="refreshSelectedItems($event, i)">
                </label>
                <span style="cursor:pointer;" (click)="editOrCheckItem(item)">
                  <a>{{item.summary}}</a>
                  <span style="padding-left:8px;color:lightgray;">{{item.request.host}}</span>
                </span>
                <ng-container *ngIf="item.labels">
                  <span style="float:right;transform:scale(0.8);">
                    <nz-tag *ngFor="let item of item.labels">{{item.name}}</nz-tag>
                  </span>
                </ng-container>
              </div>
            </ng-template>
            <ng-template #nzDescription>
              <nz-tag [nzColor]="methodTagColor(item)">{{item.request.method}}</nz-tag>
              <span>{{item.request.urlPath}}</span>
              <span class="user-info">
                <span style="font-size:small;">{{item.createdAt}}</span>
                <nz-divider nzType="vertical"></nz-divider>
                <nz-avatar nz-popover [nzPopoverContent]="popoverContent" style="cursor:pointer;" nzSize="small"
                  [nzText]="userText(item)" [nzSrc]="userAvatar(item)">
                  <ng-template #popoverContent>
                    <app-profile-simple [data]="users[item.creator]"></app-profile-simple>
                  </ng-template>
                </nz-avatar>
              </span>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #edit>
            <button nz-button nzSize="small" nzType="default" (click)="editOrCheckItem(item, true)">
              <i nz-icon nzType="setting" theme="outline"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" (click)="deleteItem(item)">
              <i nz-icon nzType="delete" theme="outline"></i>
            </button>
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #nzFooter>
        <span>
          <button nz-button type="button" nzSize="small" nzType="default" (click)="selectable=!selectable">
            <span>{{'btn-operate'|translate}}</span>
          </button>
          <button *ngIf="selectable" nz-button type="button" nzSize="small" nzType="primary" (click)="selectAll()">
            <span>{{'btn-select-all'|translate}}</span>
          </button>
          <button *ngIf="selectable" nz-button type="button" nzSize="small" nzType="primary"
            (click)="batchOperationBtnClick()">
            <span>{{'btn-batch-operate'|translate}}</span>
          </button>
        </span>
        <span style="float:right;">
          <nz-pagination [(nzPageIndex)]="pageIndex" [nzShowTotal]="totalTemplate" [nzTotal]="pageTotal"
            [(nzPageSize)]="pageSize" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[20, 50, 100]"
            (nzPageSizeChange)="pageChange()" (nzPageIndexChange)="pageChange()">
            <ng-template #totalTemplate let-total>
              <span style="color:lightgray;">
                <span>{{'item-total'|translate}}</span>
                <span> {{total}} </span>
                <span>{{'item-item'|translate}}</span>
              </span>
            </ng-template>
          </nz-pagination>
        </span>
      </ng-template>
    </nz-list>
  </nz-card>
</div>
<nz-drawer [nzClosable]="false" [nzVisible]="batchMode" nzPlacement="right" [nzBodyStyle]="{'padding':'0px'}"
  [nzWidth]="drawerWidth" (nzOnClose)="batchMode=false">
  <nz-card [nzTitle]="cardTitle" [nzBodyStyle]="{'padding':'8px'}">
    <ng-template #cardTitle>
      <div>
        <span>{{'tips-batch-mode'|translate}}</span>
        <button style="margin-left:8px;" nz-button type="button" nzSize="small" nzType="primary"
          (click)="clearSelectedItems()">
          <span>{{'btn-clear'|translate}}</span>
        </button>
      </div>
    </ng-template>
    <!-- labels -->
    <nz-divider [nzText]="labelsText" nzOrientation="left">
      <ng-template #labelsText>
        <span class="divider-text">
          <span>{{'field-labels'|translate}}</span>
        </span>
      </ng-template>
    </nz-divider>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input [(ngModel)]="batchLabel">
      <ng-template #suffixButton>
        <nz-button-group>
          <button nz-button nzType="primary" (click)="batchAddLabel()">{{'btn-add'|translate}}</button>
          <button nz-button nzType="danger" (click)="batchDeleteLabel()">{{'btn-delete'|translate}}</button>
        </nz-button-group>
      </ng-template>
    </nz-input-group>
    <!-- transfer -->
    <nz-divider [nzText]="transferText" nzOrientation="left">
      <ng-template #transferText>
        <span class="divider-text">
          <span>{{'item-transfer'|translate}}</span>
        </span>
      </ng-template>
    </nz-divider>
    <div>
      <app-group-project-selector [(data)]="transferGroupProject"></app-group-project-selector>
      <div style="margin-top:8px;">
        <span style="padding-left:4px;color:lightcoral;font-size:smaller;">
          <i nz-icon nzType="exclamation-circle" theme="outline"></i>
          <span style="padding-left:4px">{{'tips-transfer-case'|translate}}</span>
        </span>
        <button style="float:right;margin-right:8px;" nz-button nzType="primary" [nzSize]="'small'"
          (click)="batchTransfer()">{{'item-transfer'|translate}}</button>
      </div>
    </div>
    <!--selected items -->
    <nz-divider style="margin-top:40px;" [nzText]="itemsText" nzOrientation="left">
      <ng-template #itemsText>
        <span class="divider-text">
          <span>{{'item-selected'|translate}}</span>
        </span>
      </ng-template>
    </nz-divider>
    <nz-list *ngIf="selectedItems.length>0" [nzDataSource]="selectedItems" nzSize="small" [nzRenderItem]="selectedItem">
      <ng-template #selectedItem let-item>
        <nz-list-item>
          <a>{{item.summary}}</a>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</nz-drawer>
