<div class="container">
  <div class="sidebar indigo-scroll-bar" [style.height]="height">
    <nz-collapse [nzBordered]="false" [nzAccordion]="false">
      <nz-collapse-panel *ngFor="let item of items" [nzExpandedIcon]="nzExpandedIcon" [nzHeader]="nzHeader"
        [nzShowArrow]="true" [(nzActive)]="item.active" (nzActiveChange)="activeChange(item)">
        <div class="list">
          <div *ngFor="let subItem of item.sub" [routerLink]="['/toptop', subItem.group, subItem.project, subItem._id]"
            routerLinkActive="active" class="item">
            <a>{{subItem.summary}}</a>
          </div>
        </div>
        <ng-template #nzExpandedIcon>
          <i style="color:lightcoral;" nz-icon type="double-right" class="ant-collapse-arrow"
            [nzRotate]="item.active? 90 : 0"></i>
        </ng-template>
        <ng-template #nzHeader>
          <div class="header">
            <span>{{item.summary}}</span>
          </div>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class="content indigo-scroll-bar" [style.height]="height">
    <router-outlet></router-outlet>
  </div>
</div>
