<div>
  <div class="alain-default__content-title">
    <h1 style="padding-left: 10px;">{{'title-cicd-list'|translate}}</h1>
    <app-project-breadcrumb></app-project-breadcrumb>
  </div>
  <nz-card [nzBordered]="false">
    <nz-list [nzDataSource]="items" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzPagination]="pagination"
      [nzLoading]="loading">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent" [nzActions]="[actions]">
          <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
            <ng-template #nzTitle>
              <span class="item-span">
                <i nz-icon nzType="number" nzTheme="outline"></i>
                <a>{{item.group}}/{{item.project}}</a>
              </span>
              <span class="item-span">
                <i nz-icon nzType="environment" nzTheme="outline"></i>
                <a>{{item.env}}</a>
              </span>
              <span class="item-span">
                <i nz-icon nzType="cloud" nzTheme="outline"></i>
                <a>{{item.service}}</a>
              </span>
              <nz-divider nzType="vertical"></nz-divider>
              <span>{{item.type}}</span>
              <nz-divider nzType="vertical"></nz-divider>
              <span [style.color]="resultColor(item)">{{item.result}}</span>
            </ng-template>
            <ng-template #nzDescription>
              <div>
                <span *ngIf="item.author" class="item-span">
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span>{{item.author}}</span>
                </span>
                <nz-divider nzType="vertical"></nz-divider>
                <span class="sm-text">Event timestamp: {{item.timestamp}}</span>
                <nz-divider nzType="vertical"></nz-divider>
                <span class="sm-text">Record created at: {{item.createdAt}}</span>
              </div>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #actions>
            <button nz-button nzSize="small" nzType="default" [disabled]="!item.reportId" (click)="viewReport(item)">
              <i nz-icon nzType="dashboard" nzTheme="outline"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" [disabled]="!item.targetId" (click)="editTrigger(item)">
              <i nz-icon type="setting" theme="outline"></i>
            </button>
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="pageTotal" [nzPageSize]="pageSize"
          (nzPageIndexChange)="loadData()" [nzShowTotal]="totalTemplate">
          <ng-template #totalTemplate let-total>
            <span style="color:lightgray;">
              <span>{{'item-total'|translate}}</span>
              <span> {{total}} </span>
              <span>{{'item-item'|translate}}</span>
            </span>
          </ng-template>
        </nz-pagination>
      </ng-template>
    </nz-list>
  </nz-card>
</div>
