<div nz-row [nzGutter]="4">
  <div nz-col nzSpan="22">
    <nz-input-group style="width:100%;" [nzSuffix]="suffixButton" nzSearch>
      <input nz-input [placeholder]="'tips-search'|translate" [(ngModel)]="search.text" (ngModelChange)="modelChange()"
        (keyup.enter)="modelChange()">
      <ng-template #suffixButton>
        <a class="click-icon" style="margin-right:10px;"><i nz-icon nzType="search" theme="outline"
            (click)="modelChange()"></i></a>
      </ng-template>
    </nz-input-group>
  </div>
  <div nz-col nzSpan="2">
    <button style="width:100%;" nz-button [nzType]="showAll?'primary':'default'" [nzSize]="size"
      (click)="showAllChange()">
      <i nz-icon [nzType]="showAll?'up':'down'" theme="outline"></i>
    </button>
  </div>
</div>
<div *ngIf="showAll" nz-row [nzGutter]="4" style="margin-top:4px;">
  <div nz-col nzSpan="4">
    <nz-input-group style="width:100%;" [nzAddOnBefore]="'field-host'|translate">
      <input type="text" nz-input [(ngModel)]="search.host" (ngModelChange)="modelChange()">
    </nz-input-group>
  </div>
  <div nz-col nzSpan="4">
    <nz-input-group style="width:100%;" [nzAddOnBefore]="'field-method'|translate">
      <nz-select style="width:100%;" nzMode="multiple" [nzPlaceHolder]="'field-method'|translate"
        [(ngModel)]="search.methods" nzAllowClear nzShowSearch (ngModelChange)="modelChange()">
        <nz-option *ngFor="let m of methods" [nzLabel]="m" [nzValue]="m"></nz-option>
      </nz-select>
    </nz-input-group>
  </div>
  <div nz-col nzSpan="6">
    <nz-input-group style="width:100%;" [nzAddOnBefore]="'field-path'|translate">
      <input type="text" nz-input [(ngModel)]="search.path" [placeholder]="'field-path'|translate"
        (ngModelChange)="modelChange()">
    </nz-input-group>
  </div>
  <div nz-col nzSpan="6">
    <nz-input-group style="width:100%;" [nzAddOnBefore]="'field-labels'|translate">
      <nz-select style="width:100%;" nzMode="multiple" [(ngModel)]="search.labels" nzAllowClear nzShowSearch
        (nzOpenChange)="labelSelectOpenChange()" [nzServerSearch]="true" (nzOnSearch)="searchLabel($event)"
        (ngModelChange)="modelChange()">
        <ng-container *ngFor="let item of items">
          <nz-option *ngIf="!isLoading" [nzValue]="item.id" [nzLabel]="item.id" nzCustomContent>
            <span>
              <nz-badge style="transform: scale(0.6);" [nzCount]="item.count" [nzStyle]="{backgroundColor:'#52c41a'}">
              </nz-badge>
              <span>{{item.id}}</span>
            </span>
          </nz-option>
        </ng-container>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading"></i> Loading ...
        </nz-option>
      </nz-select>
    </nz-input-group>
  </div>
  <div nz-col nzSpan="4">
    <label nz-checkbox [(ngModel)]="search.isCloned" (ngModelChange)="modelChange()">
      {{'tips-show-cloned'|translate}}
    </label>
  </div>
</div>
