<div nz-row [nzGutter]="3">
  <div nz-col nzSpan="23">
    <nz-input-group [nzSize]="size" [nzSuffix]="suffixButton" nzSearch>
      <input nz-input [placeholder]="'tips-search'|translate" [(ngModel)]="search.text" (ngModelChange)="modelChange()"
        (keyup.enter)="modelChange()">
      <ng-template #suffixButton>
        <a class="click-icon" style="margin-right:10px;"><i class="anticon anticon-search" (click)="modelChange()"></i></a>
      </ng-template>
    </nz-input-group>
  </div>
  <div nz-col nzSpan="1">
    <button style="width:100%;" nz-button [nzType]="showAll?'primary':'default'" [nzSize]="size" (click)="showAll=!showAll">
      <i class="anticon anticon-{{showAll?'up':'down'}}"></i>
    </button>
  </div>
  <div *ngIf="showAll" style="margin-top:8px;" nz-col nzSpan="24">
    <nz-input-group [nzAddOnBefore]="'field-path'|translate">
      <input type="text" nz-input [(ngModel)]="search.path" (ngModelChange)="modelChange()">
    </nz-input-group>
  </div>
</div>
