<div class="{{isFullDocument?'full-doc':''}}" [style.height]="componentHeight">
  <div class="tool-bar">
    <button [title]="'tips-assert-mode'|translate" nzSize="small" [nzType]="assertSimpleEditorMode?'primary':'dashed'"
      nz-button (click)="assertEditorModeChange()">
      <i style="font-size:smaller;">{{(assertSimpleEditorMode?'btn-simple':'btn-full')|translate}}</i>
    </button>
    <button [title]="'tips-word-wrap'|translate" style="margin-left:3px;" nzSize="small"
      [nzType]="wraped?'primary':'dashed'" nz-button (click)="wrap()">
      <i nz-icon type="bars" theme="outline"></i>
    </button>
    <button [title]="'tips-format'|translate" style="margin-left:3px;" nzSize="small" nzType="dashed" nz-button
      (click)="formatAssert()">
      <i nz-icon type="layout" theme="outline"></i>
    </button>
    <button [title]="'tips-full-window'|translate" style="margin-left:3px;" nzSize="small"
      [nzType]="isFullDocument?'primary':'dashed'" nz-button (click)="fullWindowBtnClick()">
      <i nz-icon type="windows" theme="outline"></i>
    </button>
    <button [title]="'tips-fullscreen'|translate" style="margin-left:3px;margin-right:3px;" nzSize="small"
      [nzType]="isFullscreen?'primary':'dashed'" nz-button (click)="fullScreenBtnClick()">
      <i nz-icon [type]="isFullscreen?'shrink':'arrows-alt'" theme="outline"></i>
    </button>
  </div>
  <app-assertion-list class="indigo-scroll-bar" *ngIf="assertSimpleEditorMode"
    [autocompleteContext]="autocompleteContext" [editorHeight]="contentHeight" [assertions]="assertions"
    [(data)]="items" (dataChange)="itemsChange()">
  </app-assertion-list>
  <ngx-monaco-editor *ngIf="!assertSimpleEditorMode" [style.height]="contentHeight" [options]="jsonEditorOption"
    [(ngModel)]="currentScript" (ngModelChange)="syncToAssertionItems()">
  </ngx-monaco-editor>
</div>
