<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo.png" alt="{{settings.app.name}}" style="max-height:40px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.png" alt="{{settings.app.name}}" style="max-height:30px;" />
  </a>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <li>
      <a class="alain-default__nav-item" [routerLink]="['/dashboard/groups']" routerLinkActive="indigo-header-item-btn-active">
        <span class="indigo-header-item-btn">{{'menu-groups' | translate}}</span>
      </a>
    </li>
    <li>
      <a class="alain-default__nav-item" [routerLink]="['/dashboard/projects']" routerLinkActive="indigo-header-item-btn-active">
        <span class="indigo-header-item-btn">{{'menu-projects' | translate}}</span>
      </a>
    </li>
    <li>
      <a class="alain-default__nav-item" [routerLink]="['/dashboard/online']" routerLinkActive="indigo-header-item-btn-active">
        <span class="indigo-header-item-btn">{{'menu-online-api' | translate}}</span>
      </a>
    </li>
    <li>
      <nz-dropdown nzPlacement="bottomRight">
        <div class="alain-default__nav-item" style="border:solid 1px white;border-radius:8px;transform:scale(0.75);"
          nz-dropdown>
          <span>Beta</span>
        </div>
        <div nz-menu style="width:100px;">
          <div nz-menu-item (click)="goDubbo()">
            <span>Dubbo</span>
          </div>
          <div nz-menu-item (click)="goCluster()">
            <span>Cluster</span>
          </div>
        </div>
      </nz-dropdown>
    </li>
    <!-- Search Button -->
    <li class="hidden-pc" (click)="searchToggleChange()">
      <div class="alain-default__nav-item">
        <i nz-icon type="search"></i>
      </div>
    </li>
  </ul>
  <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>
  <ul class="alain-default__nav">
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" (click)="goHelp()" [title]="'tips-help'|translate">
        <i nz-icon type="question" theme="outline"></i>
      </div>
    </li>
    <li>
      <header-new></header-new>
    </li>
    <!-- Settings -->
    <li class="hidden-mobile">
      <nz-dropdown nzPlacement="bottomRight">
        <div class="alain-default__nav-item" nz-dropdown>
          <i nz-icon type="setting" theme="outline"></i>
        </div>
        <div nz-menu style="width:200px;">
          <div nz-menu-item>
            <header-fullscreen style="display:inline-block;width:100%;"></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage style="display:inline-block;width:100%;"></header-storage>
          </div>
          <div nz-menu-item>
            <header-i18n style="display:inline-block;width:100%;"></header-i18n>
          </div>
        </div>
      </nz-dropdown>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
