<div>
  <div style="height: 32px;">
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="run()">{{'btn-send'|translate}}</button>
  </div>
  <nz-list nzItemLayout="vertical" nzSize="small">
    <nz-list-item *ngFor="let item of drivers" style="padding: 4px;">
      <div class="line">
        <div class="img" nz-popover [nzPopoverContent]="previewTpl" nzPopoverTrigger="hover"
          nzPopoverPlacement="leftTop">
          <img *ngIf="item.screenCapture" [src]="getImgSrc(item)" />
          <img *ngIf="!item.screenCapture" src="/assets/svg/android.svg" />
          <ng-template #previewTpl>
            <app-ui-device-info-preview [info]="item"></app-ui-device-info-preview>
          </ng-template>
        </div>
        <div class="info">
          <div class="title">{{item.brand}} {{item.model}}</div>
          <div class="item">
            <span>{{'device.product'|translate}}: </span>
            <span>{{item.product}}</span>
          </div>
          <div class="item">
            <span>{{'device.systemVersion'|translate}}: </span>
            <span>{{item.systemVersion}}</span>
          </div>
          <div class="item">
            <span>{{'device.screenSize'|translate}}: </span>
            <span>{{item.screenSize}}</span>
          </div>
          <div class="item">
            <span>{{'device.displaySize'|translate}}: </span>
            <span>{{item.displaySize}}</span>
          </div>
          <div class="item">
            <span>{{'device.ram'|translate}}: </span>
            <span>{{item.ram}}G</span>
          </div>
        </div>
        <div class="actions">
          <label nz-checkbox [(ngModel)]="item._checked">{{'btn.select'|translate}}</label>
        </div>
      </div>
    </nz-list-item>
  </nz-list>
</div>
