<nz-table #nzTable [nzSize]="'default'" [nzData]="values" [nzShowPagination]="false">
  <thead>
    <tr>
      <th *ngIf="hasCheckbox" style="padding:3px;width:24px;"></th>
      <th style="padding:3px;">
        <span>{{'field-key'|translate}}</span>
      </th>
      <th style="padding:3px;">
        <span>{{'field-value'|translate}}</span>
      </th>
      <th style="padding:3px;width:24px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of nzTable.data; let i = index">
      <td *ngIf="hasCheckbox" style="padding:2px;width:24px;">
        <label style="margin:0px;" nz-checkbox [(ngModel)]="item.enabled" (ngModelChange)="modelChange(item,i)"></label>
      </td>
      <td style="padding:2px;">
        <input nz-input [(ngModel)]="item.key" (ngModelChange)="modelChange(item,i)" (nzFocus)="inputFocus(item,i)">
      </td>
      <td style="padding:2px;">
        <input nz-input [(ngModel)]="item.value" (ngModelChange)="modelChange(item,i)" (nzFocus)="inputFocus(item,i)">
      </td>
      <td style="padding:2px;">
        <i class="anticon anticon-close click-icon" (click)="remove(i)"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
