<nz-table #nzTable [nzSize]="'default'" [nzData]="values" [nzShowPagination]="false" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th style="padding:3px;width:48px;padding-left:20px;">
        <i style="cursor:pointer;" nz-icon nzType="check-square" nzTheme="outline" nz-tooltip
          [nzTitle]="'item-is-enabled'|translate"></i>
      </th>
      <th style="padding:3px;">
        <span>{{'field-key'|translate}}</span>
      </th>
      <th style="padding:3px;">
        <span>{{'field-value'|translate}}</span>
      </th>
      <th style="padding:3px;">
        <span>{{'field-description'|translate}}</span>
      </th>
      <th style="padding:3px;width:24px;"></th>
    </tr>
  </thead>
  <tbody [sortablejs]="values" [sortablejsOptions]="sortablejsOptions">
    <tr *ngFor="let item of values; let i = index">
      <td *ngIf="hasCheckbox" style="padding:2px;">
        <i nz-icon type="bars" theme="outline" class="click-icon" style="cursor:grab;margin-right:4px;"></i>
        <label style="margin:0px;" nz-checkbox [(ngModel)]="item.enabled" (ngModelChange)="modelChange(item,i)"></label>
      </td>
      <td style="padding:2px;">
        <input nz-input [(ngModel)]="item.key" (ngModelChange)="modelChange(item,i)">
      </td>
      <td style="padding:2px;">
        <input nz-input [(ngModel)]="item.value" (ngModelChange)="modelChange(item,i)">
      </td>
      <td style="padding:2px;width:20%;">
        <input nz-input [(ngModel)]="item.description" (ngModelChange)="modelChange(item,i)">
      </td>
      <td style="padding:2px;">
        <i *ngIf="i<values.length-1" nz-icon type="close" theme="outline" class="click-icon" (click)="remove(i)"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
