<nz-card>
  <div *ngIf="groups.length===0">
    NO GROUPS
  </div>
  <nz-list *ngIf="groups.length>0" [nzDataSource]="groups" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzPagination]="pagination">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" [nzActions]="[edit]">
        <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="nzDescription">
          <ng-template #nzAvatar>
            <nz-avatar nzSize="large" [nzText]="item.summary" [nzSrc]="item.avatar"></nz-avatar>
          </ng-template>
          <ng-template #nzTitle>
            <a [routerLink]="['/group/'+item.id]">{{item.summary}}</a>
          </ng-template>
          <ng-template #nzDescription>
            <div>{{item.description}}</div>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #edit>
          <a (click)="edit(item)">
            <i class="anticon anticon-edit"></i>
          </a>
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="pageTotal"></nz-pagination>
    </ng-template>
  </nz-list>
</nz-card>
