<div class="content__title">
  <h1 style="padding-left: 10px;">{{'field-group'|translate}}</h1>
</div>
<nz-card>
  <nz-list [nzDataSource]="groups" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzPagination]="pagination" [nzLoading]="loading">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" [nzActions]="[edit]">
        <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="nzDescription">
          <ng-template #nzAvatar>
            <nz-avatar style="cursor:pointer;" nzSize="large" [nzText]="item.summary?item.summary[0].toUpperCase():''" [nzSrc]="item.avatar"
              (click)="goGroup(item)"></nz-avatar>
          </ng-template>
          <ng-template #nzTitle>
            <a [routerLink]="['/group/'+item.id]">{{item.summary}}</a>
          </ng-template>
          <ng-template #nzDescription>
            <div>{{item.description}}</div>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #edit>
          <button nz-button nzType="default" nzShape="circle" (click)="goSettings(item)"><i class="anticon anticon-setting"></i></button>
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination *ngIf="groups.length>0" [nzPageIndex]="pageIndex" [nzTotal]="pageTotal"></nz-pagination>
    </ng-template>
  </nz-list>
</nz-card>
