<div nz-row>
  <app-feed-item-title [action]="action" [user]="item.user" [activity]="item.activity"></app-feed-item-title>
</div>
<div class="feed-content" style="display:flex;">
  <div style="width:48px;height:48px;cursor:pointer;" (click)="go()">
    <nz-avatar [nzShape]="'square'" [nzSize]="48" [nzText]="(profile.nickname||profile.username||'')[0]"
      [nzSrc]="profile.avatar"></nz-avatar>
  </div>
  <div style="margin-left:8px;">
    <div class="feed-item-title" (click)="go()">{{profile.summary}}</div>
    <div class="small-text">{{profile.description}}</div>
  </div>
</div>
