<div>
  <div class="content__title">
    <h1 style="padding-left: 10px;">{{'content-title-job-list'|translate}}</h1>
    <app-project-breadcrumb></app-project-breadcrumb>
  </div>
  <nz-card [nzBordered]="false">
    <nz-list [nzDataSource]="items" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzHeader]="nzHeader"
      [nzPagination]="pagination" [nzLoading]="loading">
      <ng-template #nzHeader>
        <div nz-row [nzGutter]="3">
          <div nz-col nzSpan="4">
            <nz-select style="width:100%;" nzShowSearch nzAllowClear [nzPlaceHolder]="'tips-trigger-type'|translate"
              [(ngModel)]="search.triggerType">
              <nz-option *ngFor="let type of types" nzCustomContent [nzLabel]="type" [nzValue]="type">
                <nz-tag nzColor="cyan">{{type}}</nz-tag>
              </nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="20">
            <nz-input-group [nzSuffix]="suffixButton" nzSearch>
              <input nz-input [placeholder]="'tips-search'|translate" [(ngModel)]="search.text">
              <ng-template #suffixButton>
                <button nz-button nzType="primary" (click)="loadData()">
                  <i class="anticon anticon-search"></i>
                  <span>{{'btn-search'|translate}}</span>
                </button>
              </ng-template>
            </nz-input-group>
          </div>
        </div>
      </ng-template>
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent" [nzActions]="[edit]">
          <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
            <ng-template #nzTitle>
              <div style="padding-left:10px;">
                <nz-tag nzColor="cyan">{{triggerType(item)}}</nz-tag>
                <a [routerLink]="[getRouter(item)]">{{item.summary}}</a>
                <span style="padding-left:10px;color:lightgray;">{{item.description}}</span>
              </div>
            </ng-template>
            <ng-template #nzDescription>
              <div *ngIf="canResumeOrPause(item)" style="padding-left:10px;">
                <nz-divider nzType="vertical"></nz-divider>
                <span>{{'tips-job-state'|translate}}: </span>
                <span>{{item.state}}</span>
                <nz-divider nzType="vertical"></nz-divider>
              </div>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #edit>
            <button nz-button nzSize="small" nzType="default" (click)="showTrend(item)">
              <i class="anticon anticon-bar-chart"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button [disabled]="!canResumeOrPause(item)" nzSize="small" nzType="default" (click)="resumeItem(item)">
              <i class="anticon anticon-play-circle-o"></i>
            </button>
            <button nz-button [disabled]="!canResumeOrPause(item)" nzSize="small" nzType="default" (click)="pauseItem(item)">
              <i class="anticon anticon-pause"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" (click)="deleteItem(item)">
              <i class="anticon anticon-delete"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" (click)="editItem(item)">
              <i class="anticon anticon-setting"></i>
            </button>
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination *ngIf="items.length>0" [(nzPageIndex)]="pageIndex" [nzTotal]="pageTotal" [nzShowTotal]="totalTemplate"
          [nzPageSize]="pageSize" (nzPageIndexChange)="pageChange()">
          <ng-template #totalTemplate let-total>
            <span style="color:lightgray;">
              <span>{{'item-total'|translate}}</span>
              <span> {{total}} </span>
              <span>{{'item-item'|translate}}</span>
            </span>
          </ng-template>
        </nz-pagination>
      </ng-template>
    </nz-list>
  </nz-card>
</div>
<nz-drawer [nzClosable]="false" [nzVisible]="chartVisible" [nzWidth]="drawerWidth" nzPlacement="right" (nzOnClose)="chartVisible=false">
  <div nz-row>
    <div nz-col nzSpan="24">
      <ngx-charts-area-chart [view]="fullView" [scheme]="{'domain':['lightseagreen']}" [results]="okRates" [legend]="false"
        [xAxis]="true" [yAxis]="true">
      </ngx-charts-area-chart>
    </div>
    <div nz-col nzSpan="24" style="margin-top:100px;">
      <ngx-charts-line-chart [view]="fullView" [scheme]="coolColorScheme" [results]="statisSeries" [legend]="false"
        [xAxis]="true" [yAxis]="true">
      </ngx-charts-line-chart>
    </div>
  </div>
</nz-drawer>
