<nz-table #nzTable [nzSize]="'default'" [nzData]="values" [nzShowPagination]="false" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th style="padding:3px;width:48px;padding-left:20px;">
        <i style="cursor:pointer;" nz-icon nzType="check-square" nzTheme="outline" nz-tooltip
          [nzTooltipTitle]="'item-is-enabled'|translate"></i>
      </th>
      <th style="padding:3px;">
        <span>{{'item-var-name'|translate}}</span>
      </th>
      <th style="padding:3px;">
        <span>{{'item-scope'|translate}}</span>
      </th>
      <th style="padding:3px;">
        <span>{{'field-value'|translate}}</span>
      </th>
      <th style="padding:3px;min-width:100px;">
        <span>{{'item-trans-function'|translate}}</span>
      </th>
      <th style="padding:3px;">
        <span>{{'field-description'|translate}}</span>
      </th>
      <th style="padding:3px;width:84px;">
        <span>{{'item-value-type'|translate}}</span>
      </th>
      <th style="padding:3px;width:24px;">
        <i style="color:lightseagreen;cursor:pointer;" nz-icon nzType="to-top" nzTheme="outline" nz-tooltip
          [nzTooltipTitle]="'item-exposed'|translate"></i>
      </th>
      <th style="padding:3px;width:24px;"></th>
    </tr>
  </thead>
  <tbody [sortablejs]="values" [sortablejsOptions]="sortablejsOptions">
    <tr *ngFor="let item of values; let i = index">
      <td style="padding:2px;">
        <i nz-icon nzType="bars" theme="outline" class="click-icon" style="cursor:grab;margin-right:4px;"></i>
        <label style="margin:0px;" nz-checkbox [(ngModel)]="item.enabled" (ngModelChange)="modelChange(item,i)"></label>
      </td>
      <td style="padding:2px;">
        <input nz-input [(ngModel)]="item.name" (ngModelChange)="modelChange(item,i)">
      </td>
      <td style="padding:2px;">
        <nz-select style="width: 100%;" [(ngModel)]="item.scope" (ngModelChange)="modelChange(item,i)">
          <nz-option *ngFor="let item of scopes" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
      </td>
      <td style="padding:2px;">
        <input *ngIf="item.type!=='enum'" nz-input [(ngModel)]="item.value" (ngModelChange)="modelChange(item,i)">
        <nz-select *ngIf="item.type==='enum'" style="width: 100%;" nzShowSearch nzAllowClear [(ngModel)]="item.value"
          (ngModelChange)="modelChange(item,i)">
          <nz-option *ngFor="let kv of item.extra.options" nzCustomContent [nzValue]="kv.key" [nzLabel]="kv.key">
            <div class="func-option">
              <div class="option-title">
                <i style="color:darkcyan;" nz-icon nzType="double-right" nzTheme="outline"></i>
                <span>{{kv.key}}</span>
              </div>
              <div class="option-content indigo-scroll-bar"> {{kv.value}}</div>
            </div>
          </nz-option>
        </nz-select>
      </td>
      <td style="padding:2px;">
        <nz-select style="width: 100%;" nzShowSearch nzAllowClear [(ngModel)]="item.function"
          (ngModelChange)="modelChange(item,i)">
          <nz-option *ngFor="let item of transforms" nzCustomContent [nzValue]="item.name" [nzLabel]="item.name">
            <div class="func-option">
              <div class="option-title">
                <i style="color:darkcyan;" nz-icon nzType="double-right" nzTheme="outline"></i>
                <span>{{item.name}}</span>
              </div>
              <div class="option-content indigo-scroll-bar"> {{item.description}}</div>
            </div>
          </nz-option>
        </nz-select>
      </td>
      <td style="padding:2px;">
        <input nz-input [(ngModel)]="item.description" (ngModelChange)="modelChange(item,i)">
      </td>
      <td style="padding:2px;">
        <nz-tag style="margin-right: 2px;" [nzColor]="item.type==='enum'?'lightseagreen':'lightgrey'" nzMode="checkable"
          [nzChecked]="item.type==='enum'" (nzCheckedChange)="typeChange(item)">{{'item-enum'|translate}}</nz-tag>
        <i *ngIf="item.type==='enum'" style="color:lightseagreen;" nz-icon nzType="setting" nzTheme="outline"
          class="click-icon" (click)="showExtra(item)"></i>
      </td>
      <td style="padding:2px;">
        <label style="margin:0px;" nz-checkbox [(ngModel)]="item.exposed"></label>
      </td>
      <td style="padding:2px;">
        <i *ngIf="i<values.length-1" nz-icon nzType="close" theme="outline" class="click-icon" (click)="remove(i)"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
