<div>
  <div class="alain-default__content-title">
    <h1 style="padding-left: 10px;">{{'content-title-openapi'|translate}}</h1>
    <div>
      <nz-tag *ngIf="!needSave" style="margin-right:5px;" [nzColor]="'green'">
        <span>
          <i nz-icon type="save" theme="outline"></i>
          <span>{{'tips-saved'|translate}}</span>
        </span>
      </nz-tag>
      <nz-tag *ngIf="needSave" style="margin-right:5px;" [nzColor]="'red'">
        <span>
          <i nz-icon type="warning" theme="outline"></i>
          <span>{{'tips-wait-save'|translate}}</span>
        </span>
      </nz-tag>
      <button style="margin-right:10px;" nzSize="small" nzType="dashed" nz-button (click)="reload()">
        <i nz-icon type="reload" theme="outline"></i>
      </button>
    </div>
  </div>
  <nz-spin [(nzSpinning)]="loading">
    <nz-card [nzBodyStyle]="{'padding':'0px'}" [nzBordered]="false">
      <iframe [style.height]="ifameHeight" class="openapi-ifame" [src]="openapiEditorUrl" frameborder="0" scrolling="no"></iframe>
    </nz-card>
  </nz-spin>
</div>
