<div style="text-align: right;margin-top: 4px;padding-right: 4px;">
  <ng-container>
    <button nz-button nzType="dashed" nzSize="small" nz-dropdown [nzDropdownMenu]="uploadMenu"
      nzPlacement="bottomRight">
      <i nz-icon nzType="upload" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #uploadMenu="nzDropdownMenu">
      <ul nz-menu>
        <li class="menu-item" nz-menu-item (click)="uploadKarate(null)">
          <img class="menu-img" src="/assets/svg/karate.svg">
          <span>{{'file.karate'|translate}}</span>
        </li>
        <li class="menu-item" nz-menu-item (click)="uploadSoloPi(null)">
          <img class="menu-img" src="/assets/svg/solopi.svg">
          <span>{{'file.solopi'|translate}}</span>
        </li>
        <li class="menu-item" nz-menu-item (click)="uploadRaw(null)">
          <img class="menu-img" src="/assets/svg/json.svg">
          <span>{{'file.raw'|translate}}</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
  <ng-container>
    <button nz-button nzType="dashed" nzSize="small" nz-dropdown [nzDropdownMenu]="newMenu" nzPlacement="bottomRight">
      <i nz-icon nzType="folder-add" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #newMenu="nzDropdownMenu">
      <ul nz-menu>
        <li class="menu-item" nz-menu-item (click)="newMonkey(null)">
          <img class="menu-img" src="/assets/svg/monkey.svg">
          <span>{{'app.monkey'|translate}}</span>
        </li>
        <li nz-menu-divider></li>
        <li class="menu-item" nz-menu-item (click)="newFolder(null)">
          <img class="menu-img" src="/assets/svg/folder.svg">
          <span>{{"menu.folder"|translate}}</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
</div>
<div style="margin-top:4px;">
  <nz-tree style="padding: 0px 4px;" [nzData]="nodes" [nzBlockNode]="true" [nzShowIcon]="false" [nzShowExpand]="false"
    [nzShowLine]="false" [nzExpandedKeys]="expandedKeys" [nzSelectedKeys]="selectedKeys" [nzTreeTemplate]="treeTpl"
    (nzClick)="clickNode($event)">
    <ng-template #treeTpl let-node let-origin="origin">
      <div class="menu-item">
        <img class="menu-img" [src]="getImgSrc(node, origin.file)">
        <span>{{node.title}}</span>
        <span class="btns" nz-dropdown [nzDropdownMenu]="btnsMenu" nzPlacement="bottomRight">
          <i nz-icon nzType="down-circle" nzTheme="outline"></i>
          <nz-dropdown-menu #btnsMenu="nzDropdownMenu">
            <ul nz-menu>
              <li *ngIf="!node.isLeaf" nz-menu-group [nzTitle]="newTpl">
                <ul>
                  <li class="menu-item" nz-menu-item (click)="newMonkey(node)">
                    <img class="menu-img" src="/assets/svg/monkey.svg">
                    <span>{{'app.monkey'|translate}}</span>
                  </li>
                  <li class="menu-item" nz-menu-item (click)="newFolder(node)">
                    <img class="menu-img" src="/assets/svg/folder.svg">
                    <span>{{"menu.folder"|translate}}</span>
                  </li>
                </ul>
              </li>
              <ng-template #newTpl>
                <span class="menu-title">{{'btn.new'|translate}}</span>
              </ng-template>
              <li *ngIf="!node.isLeaf" nz-menu-group [nzTitle]="upTpl">
                <ul>
                  <li class="menu-item" nz-menu-item (click)="uploadKarate(node)">
                    <img class="menu-img" src="/assets/svg/karate.svg">
                    <span>{{'file.karate'|translate}}</span>
                  </li>
                  <li class="menu-item" nz-menu-item (click)="uploadSoloPi(node)">
                    <img class="menu-img" src="/assets/svg/solopi.svg">
                    <span>{{'file.solopi'|translate}}</span>
                  </li>
                  <li class="menu-item" nz-menu-item (click)="uploadRaw(node)">
                    <img class="menu-img" src="/assets/svg/json.svg">
                    <span>{{'file.raw'|translate}}</span>
                  </li>
                </ul>
              </li>
              <ng-template #upTpl>
                <span class="menu-title">{{'btn.upload'|translate}}</span>
              </ng-template>
              <li nz-menu-group>
                <ul>
                  <li *ngIf="!node.isLeaf" nz-menu-divider></li>
                  <li class="menu-item" nz-menu-item (click)="mv(node)">
                    <i class="menu-icon" style="font-size: 14px;margin-right: 4px;" nz-icon nzType="edit"
                      nzTheme="outline"></i>
                    <span>{{'btn.mv'|translate}}</span>
                  </li>
                  <li class="menu-item" nz-menu-item (click)="delete(node)">
                    <i class="menu-icon" style="font-size: 14px;margin-right: 4px;" nz-icon nzType="delete"
                      nzTheme="outline"></i>
                    <span>{{'btn.delete'|translate}}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </div>
    </ng-template>
  </nz-tree>
</div>
