.menu-item {
  width: 100%;
  cursor: pointer;
  position: relative;
  padding: 2px 4px;
}
.menu-title {
  font-size: small;
}
.menu-img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.btns {
  display: none;
  position: absolute;
  right: 4px;
  padding: 0px 4px;
}
.menu-item:hover .btns {
  display: initial;
}
.btns:hover {
  background-color: #dde1e6;
}
