.line {
  font-size: small;
  display: grid;
  grid-template-columns: 156px 56px auto 300px;
}
.line:hover {
  background-color: wheat;
}
.time {
  color: darkblue;
}
.level {
  display: inline-block;
  text-align: center;
}
.text {
  display: inline-block;
}
.right {
  float: right;
  display: grid;
  grid-template-columns: auto 52px 100px 16px;
}
.type {
  color: darkgray;
  width: 52px;
  display: inline-block;
  text-align: center;
}
.method {
  color: darkgray;
  display: inline-block;
  text-align: right;
}
.hostname {
  width: 80px;
  color: darkgray;
}
.wrap {
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bug {
}
