<div>
  <div class="content__title">
    <h1 style="padding-left: 10px;">{{'content-title-group-projects'|translate}}</h1>
  </div>
  <nz-card [nzBordered]="false">
    <nz-list *ngIf="projects.length>0" [nzDataSource]="projects" [nzItemLayout]="'horizontal'" [nzRenderItem]="item" [nzPagination]="pagination"
      [nzLoading]="loading">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent" [nzActions]="[edit]">
          <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="nzDescription">
            <ng-template #nzAvatar>
              <nz-avatar style="cursor:pointer;" nzSize="large" [nzText]="item.summary?item.summary[0].toUpperCase():''" [nzSrc]="item.avatar"
                (click)="goProject(item)"></nz-avatar>
            </ng-template>
            <ng-template #nzTitle>
              <a [routerLink]="[item.id]">{{item.summary}}</a>
            </ng-template>
            <ng-template #nzDescription>
              <div>{{item.description}}</div>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #edit>
            <button nz-button nzType="default" nzShape="circle" (click)="goSettings(item)">
              <i class="anticon anticon-setting"></i>
            </button>
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination *ngIf="projects.length>0" [(nzPageIndex)]="pageIndex" [nzTotal]="pageTotal" [nzPageSize]="pageSize" (nzPageIndexChange)="pageChange()"></nz-pagination>
      </ng-template>
    </nz-list>
    <div *ngIf="loading===false&&projects.length===0">{{'tips-no-data'|translate}}</div>
  </nz-card>
</div>
